/*!
 * mmenu.js
 * mmenujs.com
 *
 * Copyright (c) Fred Heusschen
 * frebsite.nl
 *
 * License: CC-BY-NC-4.0
 * http://creativecommons.org/licenses/by-nc/4.0/
 */
.brz-mm-menu_theme-white {
  --mm-color-border: rgba(0, 0, 0, 0.1);
  --mm-color-button: rgba(0, 0, 0, 0.3);
  --mm-color-text: rgba(0, 0, 0, 0.7);
  --mm-color-text-dimmed: rgba(0, 0, 0, 0.3);
  --mm-color-background: #fff;
  --mm-color-background-highlight: rgba(0, 0, 0, 0.06);
  --mm-color-background-emphasis: rgba(0, 0, 0, 0.03);
  --mm-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.brz-mm-menu_theme-dark {
  --mm-color-border: rgba(0, 0, 0, 0.3);
  --mm-color-button: rgba(255, 255, 255, 0.4);
  --mm-color-text: rgba(255, 255, 255, 0.85);
  --mm-color-text-dimmed: rgba(255, 255, 255, 0.4);
  --mm-color-background: #333;
  --mm-color-background-highlight: rgba(255, 255, 255, 0.08);
  --mm-color-background-emphasis: rgba(0, 0, 0, 0.1);
  --mm-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.brz-mm-menu_theme-black {
  --mm-color-border: rgba(255, 255, 255, 0.25);
  --mm-color-button: rgba(255, 255, 255, 0.4);
  --mm-color-text: rgba(255, 255, 255, 0.75);
  --mm-color-text-dimmed: rgba(255, 255, 255, 0.4);
  --mm-color-background: #000;
  --mm-color-background-highlight: rgba(255, 255, 255, 0.2);
  --mm-color-background-emphasis: rgba(255, 255, 255, 0.15);
  --mm-shadow: none;
}

:root {
  --mm-line-height: 20px;
  --mm-listitem-size: 44px;
  --mm-navbar-size: 44px;
  --mm-offset-top: 0;
  --mm-offset-right: 0;
  --mm-offset-bottom: 0;
  --mm-offset-left: 0;
  --mm-color-border: rgba(0, 0, 0, 0.1);
  --mm-color-button: rgba(0, 0, 0, 0.3);
  --mm-color-text: rgba(0, 0, 0, 0.75);
  --mm-color-text-dimmed: rgba(0, 0, 0, 0.3);
  --mm-color-background: #f3f3f3;
  --mm-color-background-highlight: rgba(0, 0, 0, 0.05);
  --mm-color-background-emphasis: rgba(255, 255, 255, 0.4);
  --mm-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.brz-mm-hidden {
  display: none !important;
}

.brz-mm-wrapper {
  overflow-x: hidden;
  position: relative;
}

.brz-mm-menu {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f3f3f3;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: var(--mm-offset-top);
  right: var(--mm-offset-right);
  bottom: var(--mm-offset-bottom);
  left: var(--mm-offset-left);
  z-index: 0;
  background: var(--mm-color-background);
  border-color: var(--mm-color-border);
  color: var(--mm-color-text);
  line-height: var(--mm-line-height);
  -webkit-tap-highlight-color: var(--mm-color-background-emphasis);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brz-mm-menu a,
.brz-mm-menu a:link,
.brz-mm-menu a:active,
.brz-mm-menu a:visited,
.brz-mm-menu a:hover {
  text-decoration: none;
  color: inherit;
}

[dir="rtl"] .brz-mm-menu {
  direction: rtl;
}

.brz-mm-panel {
  background: #f3f3f3;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  z-index: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--mm-color-background);
  border-color: var(--mm-color-border);
  color: var(--mm-color-text);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.brz-mm-panel:after {
  height: 44px;
}

.brz-mm-panel:not(.brz-mm-hidden) {
  display: block;
}

.brz-mm-panel:after {
  content: '';
  display: block;
  height: var(--mm-listitem-size);
}

.brz-mm-panel_opened {
  z-index: 1;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.brz-mm-panel_opened-parent {
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}

.brz-mm-panel_highest {
  z-index: 2;
}

.brz-mm-panel_noanimation {
  -webkit-transition: none !important;
  transition: none !important;
}

.brz-mm-panel_noanimation.brz-mm-panel_opened-parent {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.brz-mm-panels>.brz-mm-panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.brz-mm-panel__content {
  padding: 20px 20px 0;
}

.brz-mm-panels {
  background: #f3f3f3;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  position: relative;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  background: var(--mm-color-background);
  border-color: var(--mm-color-border);
  color: var(--mm-color-text);
}

[dir='rtl'] .brz-mm-panel:not(.brz-mm-panel_opened) {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

[dir='rtl'] .brz-mm-panel.brz-mm-panel_opened-parent {
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}

.brz-mm-listitem_vertical>.brz-mm-panel {
  display: none;
  width: 100%;
  padding: 10px 0 10px 10px;
  -webkit-transform: none !important;
  transform: none !important;
}

.brz-mm-listitem_vertical>.brz-mm-panel:before,
.brz-mm-listitem_vertical>.brz-mm-panel:after {
  content: none;
  display: none;
}

.brz-mm-listitem_opened>.brz-mm-panel {
  display: block;
}

.brz-mm-listitem_vertical>.brz-mm-listitem__btn {
  height: 44px;
  height: var(--mm-listitem-size);
  bottom: auto;
}

.brz-mm-listitem_vertical .brz-mm-listitem:last-child:after {
  border-color: transparent;
}

.brz-mm-listitem_opened>.brz-mm-listitem__btn:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  right: 19px;
}

.brz-mm-btn {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  padding: 0;
}

.brz-mm-btn:before,
.brz-mm-btn:after {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border: 2px solid var(--mm-color-button);
}

.brz-mm-btn_prev:before,
.brz-mm-btn_next:after {
  content: '';
  border-bottom: none;
  border-right: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.brz-mm-btn_prev:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 23px;
  right: auto;
}

.brz-mm-btn_next:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 23px;
  left: auto;
}

.brz-mm-btn_close:before,
.brz-mm-btn_close:after {
  content: '';
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.brz-mm-btn_close:before {
  border-right: none;
  border-bottom: none;
  right: 18px;
}

.brz-mm-btn_close:after {
  border-left: none;
  border-top: none;
  right: 25px;
}

[dir="rtl"] .brz-mm-btn_next:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 23px;
  right: auto;
}

[dir="rtl"] .brz-mm-btn_prev:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 23px;
  left: auto;
}

[dir="rtl"] .brz-mm-btn_close:before,
[dir="rtl"] .brz-mm-btn_close:after {
  right: auto;
}

[dir="rtl"] .brz-mm-btn_close:before {
  left: 25px;
}

[dir="rtl"] .brz-mm-btn_close:after {
  left: 18px;
}

.brz-mm-navbar {
  min-height: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--mm-navbar-size);
  border-bottom: 1px solid var(--mm-color-border);
  background: var(--mm-color-background);
  color: var(--mm-color-text-dimmed);
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.brz-mm-navbar>* {
  min-height: 44px;
}

@supports (position: sticky) {
  .brz-mm-navbar_sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.brz-mm-navbar>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.brz-mm-navbar__btn {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.brz-mm-navbar__title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.brz-mm-navbar__title:not(:last-child) {
  padding-right: 0;
}

.brz-mm-navbar__title>span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.brz-mm-navbar__btn:not(.brz-mm-hidden)+.brz-mm-navbar__title {
  padding-left: 0;
}

.brz-mm-navbar__btn:not(.brz-mm-hidden)+.brz-mm-navbar__title:last-child {
  padding-right: 50px;
}

[dir='rtl'] .brz-mm-navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.brz-mm-listview {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.brz-mm-listitem {
  color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.1);
  color: var(--mm-color-text);
  border-color: var(--mm-color-border);
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.brz-mm-listitem:after {
  content: '';
  border-color: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: absolute;
  left: 20px;
  right: 0;
  bottom: 0;
}

.brz-mm-listitem a,
.brz-mm-listitem a:hover {
  text-decoration: none;
}

.brz-mm-listitem__text,
.brz-mm-listitem__btn {
  padding: 12px;
  display: block;
  padding: calc((var(--mm-listitem-size) - var(--mm-line-height)) / 2);
  padding-left: 0;
  padding-right: 0;
  color: inherit;
}

.brz-mm-listitem__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.brz-mm-listitem__btn {
  background: rgba(3, 2, 1, 0);
  border-color: inherit;
  width: auto;
  padding-right: 50px;
  position: relative;
}

.brz-mm-listitem__btn:not(.brz-mm-listitem__text) {
  border-left-width: 1px;
  border-left-style: solid;
}

.brz-mm-listitem_selected>.brz-mm-listitem__text {
  background: rgba(255, 255, 255, 0.4);
  background: var(--mm-color-background-emphasis);
}

.brz-mm-listitem_opened>.brz-mm-listitem__btn,
.brz-mm-listitem_opened>.brz-mm-panel {
  background: rgba(0, 0, 0, 0.05);
  background: var(--mm-color-background-highlight);
}

[dir="rtl"] .brz-mm-listitem:after {
  left: 0;
  right: 20px;
}

[dir="rtl"] .brz-mm-listitem__text {
  padding-left: 10px;
  padding-right: 20px;
}

[dir="rtl"] .brz-mm-listitem__btn {
  padding-left: 50px;
  border-left-width: 0;
  border-left-style: none;
}

[dir="rtl"] .brz-mm-listitem__btn:not(.brz-mm-listitem__text) {
  padding-right: 0;
  border-right-width: 1px;
  border-right-style: solid;
}

.brz-mm-page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.brz-mm-slideout {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 1;
}

.brz-mm-wrapper_opened {
  overflow-x: hidden;
  position: relative;
}

.brz-mm-wrapper_opened .brz-mm-page {
  min-height: 100vh;
}

.brz-mm-wrapper_background .brz-mm-page {
  background: inherit;
}

.brz-mm-menu_offcanvas {
  position: fixed;
  right: auto;
  z-index: 0;
}

.brz-mm-menu_offcanvas:not(.brz-mm-menu_opened) {
  display: none;
}

.brz-mm-menu_offcanvas {
  width: 80%;
  min-width: 240px;
  max-width: 440px;
}

.brz-mm-wrapper_opening .brz-mm-menu_offcanvas~.brz-mm-slideout {
  -webkit-transform: translate3d(80vw, 0, 0);
  transform: translate3d(80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_offcanvas~.brz-mm-slideout {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
  }
}

@media all and (min-width: 550px) {
  .brz-mm-wrapper_opening .brz-mm-menu_offcanvas~.brz-mm-slideout {
    -webkit-transform: translate3d(440px, 0, 0);
    transform: translate3d(440px, 0, 0);
  }
}

.brz-mm-wrapper__blocker {
  background: rgba(3, 2, 1, 0);
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.brz-mm-wrapper_blocking {
  overflow: hidden;
}

.brz-mm-wrapper_blocking body {
  overflow: hidden;
}

.brz-mm-wrapper_blocking .brz-mm-wrapper__blocker {
  display: block;
}

[dir="rtl"] .brz-mm-menu_offcanvas {
  /*left: unset;
		right: 0;*/
}

.brz-mm-sronly {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  width: 1px !important;
  min-width: 1px !important;
  height: 1px !important;
  min-height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
}

.brz-mm-menu_autoheight:not(.brz-mm-menu_offcanvas) {
  position: relative;
}

.brz-mm-menu_autoheight.brz-mm-menu_position-top,
.brz-mm-menu_autoheight.brz-mm-menu_position-bottom {
  max-height: 80%;
}

.brz-mm-menu_autoheight-measuring .brz-mm-panel {
  display: block !important;
}

.brz-mm-menu_autoheight-measuring .brz-mm-panels>.brz-mm-panel {
  bottom: auto !important;
  height: auto !important;
}

.brz-mm-menu_autoheight-measuring .brz-mm-listitem_vertical:not(.brz-mm-listitem_opened) .brz-mm-panel {
  display: none !important;
}

[class*='brz-mm-menu_columns-'] {
  -webkit-transition-property: width;
  transition-property: width;
}

[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel {
  right: auto;
  -webkit-transition-property: width, -webkit-transform;
  transition-property: width, -webkit-transform;
  transition-property: width, transform;
  transition-property: width, transform, -webkit-transform;
}

[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel_opened,
[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel_opened-parent {
  display: block !important;
}

[class*='brz-mm-panel_columns-'] {
  border-right: 1px solid;
  border-color: inherit;
}

.brz-mm-menu_columns-1 .brz-mm-panel_columns-0,
.brz-mm-menu_columns-2 .brz-mm-panel_columns-1,
.brz-mm-menu_columns-3 .brz-mm-panel_columns-2,
.brz-mm-menu_columns-4 .brz-mm-panel_columns-3 {
  border-right: none;
}

[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel_columns-0 {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.brz-mm-menu_columns-0 .brz-mm-panels>.brz-mm-panel {
  z-index: 0;
}

.brz-mm-menu_columns-0 .brz-mm-panels>.brz-mm-panel else {
  width: 100%;
}

.brz-mm-menu_columns-0 .brz-mm-panels>.brz-mm-panel:not(.brz-mm-panel_opened):not(.brz-mm-panel_opened-parent) {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.brz-mm-menu_columns-0 {
  width: 80%;
  min-width: 240px;
  max-width: 0px;
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-0~.brz-mm-slideout {
  -webkit-transform: translate3d(80vw, 0, 0);
  transform: translate3d(80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-0~.brz-mm-slideout {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
  }
}

@media all and (min-width: 0px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-0~.brz-mm-slideout {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-0.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(-80vw, 0, 0);
  transform: translate3d(-80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-0.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
  }
}

@media all and (min-width: 0px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-0.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel_columns-1 {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.brz-mm-menu_columns-1 .brz-mm-panels>.brz-mm-panel {
  z-index: 1;
  width: 100%;
}

.brz-mm-menu_columns-1 .brz-mm-panels>.brz-mm-panel else {
  width: 100%;
}

.brz-mm-menu_columns-1 .brz-mm-panels>.brz-mm-panel:not(.brz-mm-panel_opened):not(.brz-mm-panel_opened-parent) {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}

.brz-mm-menu_columns-1 {
  width: 80%;
  min-width: 240px;
  max-width: 440px;
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-1~.brz-mm-slideout {
  -webkit-transform: translate3d(80vw, 0, 0);
  transform: translate3d(80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-1~.brz-mm-slideout {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
  }
}

@media all and (min-width: 550px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-1~.brz-mm-slideout {
    -webkit-transform: translate3d(440px, 0, 0);
    transform: translate3d(440px, 0, 0);
  }
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-1.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(-80vw, 0, 0);
  transform: translate3d(-80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-1.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
  }
}

@media all and (min-width: 550px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-1.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-440px, 0, 0);
    transform: translate3d(-440px, 0, 0);
  }
}

[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel_columns-2 {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}

.brz-mm-menu_columns-2 .brz-mm-panels>.brz-mm-panel {
  z-index: 2;
  width: 50%;
}

.brz-mm-menu_columns-2 .brz-mm-panels>.brz-mm-panel else {
  width: 100%;
}

.brz-mm-menu_columns-2 .brz-mm-panels>.brz-mm-panel:not(.brz-mm-panel_opened):not(.brz-mm-panel_opened-parent) {
  -webkit-transform: translate3d(300%, 0, 0);
  transform: translate3d(300%, 0, 0);
}

.brz-mm-menu_columns-2 {
  width: 80%;
  min-width: 240px;
  max-width: 880px;
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-2~.brz-mm-slideout {
  -webkit-transform: translate3d(80vw, 0, 0);
  transform: translate3d(80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-2~.brz-mm-slideout {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
  }
}

@media all and (min-width: 1100px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-2~.brz-mm-slideout {
    -webkit-transform: translate3d(880px, 0, 0);
    transform: translate3d(880px, 0, 0);
  }
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-2.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(-80vw, 0, 0);
  transform: translate3d(-80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-2.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
  }
}

@media all and (min-width: 1100px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-2.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-880px, 0, 0);
    transform: translate3d(-880px, 0, 0);
  }
}

[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel_columns-3 {
  -webkit-transform: translate3d(300%, 0, 0);
  transform: translate3d(300%, 0, 0);
}

.brz-mm-menu_columns-3 .brz-mm-panels>.brz-mm-panel {
  z-index: 3;
  width: 33.34%;
}

.brz-mm-menu_columns-3 .brz-mm-panels>.brz-mm-panel else {
  width: 100%;
}

.brz-mm-menu_columns-3 .brz-mm-panels>.brz-mm-panel:not(.brz-mm-panel_opened):not(.brz-mm-panel_opened-parent) {
  -webkit-transform: translate3d(400%, 0, 0);
  transform: translate3d(400%, 0, 0);
}

.brz-mm-menu_columns-3 {
  width: 80%;
  min-width: 240px;
  max-width: 1320px;
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-3~.brz-mm-slideout {
  -webkit-transform: translate3d(80vw, 0, 0);
  transform: translate3d(80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-3~.brz-mm-slideout {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
  }
}

@media all and (min-width: 1650px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-3~.brz-mm-slideout {
    -webkit-transform: translate3d(1320px, 0, 0);
    transform: translate3d(1320px, 0, 0);
  }
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-3.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(-80vw, 0, 0);
  transform: translate3d(-80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-3.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
  }
}

@media all and (min-width: 1650px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-3.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-1320px, 0, 0);
    transform: translate3d(-1320px, 0, 0);
  }
}

[class*='brz-mm-menu_columns-'] .brz-mm-panels>.brz-mm-panel_columns-4 {
  -webkit-transform: translate3d(400%, 0, 0);
  transform: translate3d(400%, 0, 0);
}

.brz-mm-menu_columns-4 .brz-mm-panels>.brz-mm-panel {
  z-index: 4;
  width: 25%;
}

.brz-mm-menu_columns-4 .brz-mm-panels>.brz-mm-panel else {
  width: 100%;
}

.brz-mm-menu_columns-4 .brz-mm-panels>.brz-mm-panel:not(.brz-mm-panel_opened):not(.brz-mm-panel_opened-parent) {
  -webkit-transform: translate3d(500%, 0, 0);
  transform: translate3d(500%, 0, 0);
}

.brz-mm-menu_columns-4 {
  width: 80%;
  min-width: 240px;
  max-width: 1760px;
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-4~.brz-mm-slideout {
  -webkit-transform: translate3d(80vw, 0, 0);
  transform: translate3d(80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-4~.brz-mm-slideout {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
  }
}

@media all and (min-width: 2200px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-4~.brz-mm-slideout {
    -webkit-transform: translate3d(1760px, 0, 0);
    transform: translate3d(1760px, 0, 0);
  }
}

.brz-mm-wrapper_opening .brz-mm-menu_columns-4.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(-80vw, 0, 0);
  transform: translate3d(-80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-4.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
  }
}

@media all and (min-width: 2200px) {
  .brz-mm-wrapper_opening .brz-mm-menu_columns-4.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-1760px, 0, 0);
    transform: translate3d(-1760px, 0, 0);
  }
}

[class*='brz-mm-menu_columns-'].brz-mm-menu_position-bottom,
[class*='brz-mm-menu_columns-'].brz-mm-menu_position-top {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.brz-mm-wrapper_opening [class*='brz-mm-menu_columns-'].brz-mm-menu_position-front {
  -webkit-transition-property: width, min-width, max-width, -webkit-transform;
  transition-property: width, min-width, max-width, -webkit-transform;
  transition-property: width, min-width, max-width, transform;
  transition-property: width, min-width, max-width, transform, -webkit-transform;
}

.brz-mm-counter {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  padding-left: 20px;
  float: right;
  text-align: right;
  color: var(--mm-color-text-dimmed);
}

.brz-mm-listitem_nosubitems>.brz-mm-counter {
  display: none;
}

[dir='rtl'] .brz-mm-counter {
  text-align: left;
  float: left;
  padding-left: 0;
  padding-right: 20px;
}

.brz-mm-divider {
  position: relative;
  min-height: 20px;
  padding: 4.3px;
  background: #f3f3f3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: var(--mm-line-height);
  padding: calc(((var(--mm-listitem-size) * 0.65) - var(--mm-line-height)) * 0.5);
  padding-right: 10px;
  padding-left: 20px;
  font-size: 75%;
  text-transform: uppercase;
  background: var(--mm-color-background);
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.brz-mm-divider:before {
  background: rgba(0, 0, 0, 0.05);
}

@supports (position: sticky) {
  .brz-mm-divider {
    position: sticky;
    z-index: 2;
    top: 0;
  }

  .brz-mm-navbar_sticky:not(.brz-mm-hidden)~.brz-mm-listview .brz-mm-divider {
    top: var(--mm-navbar-size);
  }
}

.brz-mm-divider:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--mm-color-background-highlight);
}

.brz-mm-wrapper_dragging .brz-mm-menu,
.brz-mm-wrapper_dragging .brz-mm-slideout {
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.brz-mm-wrapper_dragging .brz-mm-menu {
  pointer-events: none !important;
}

.brz-mm-wrapper_dragging .brz-mm-wrapper__blocker {
  display: none !important;
}

.brz-mm-menu_dropdown {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 80%;
}

.brz-mm-wrapper_dropdown .brz-mm-slideout {
  -webkit-transform: none !important;
  transform: none !important;
  z-index: 0;
}

.brz-mm-wrapper_dropdown .brz-mm-wrapper__blocker {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
  z-index: 1;
}

.brz-mm-wrapper_dropdown .brz-mm-menu_dropdown {
  z-index: 2;
}

.brz-mm-wrapper_dropdown.brz-mm-wrapper_opened:not(.brz-mm-wrapper_opening) .brz-mm-menu_dropdown {
  display: none;
}

.brz-mm-menu_tip-left:before,
.brz-mm-menu_tip-right:before,
.brz-mm-menu_tip-top:before,
.brz-mm-menu_tip-bottom:before {
  content: '';
  background: inherit;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.brz-mm-menu_tip-left:before {
  left: 22px;
}

.brz-mm-menu_tip-right:before {
  right: 22px;
}

.brz-mm-menu_tip-top:before {
  top: -8px;
}

.brz-mm-menu_tip-bottom:before {
  bottom: -8px;
}

:root {
  --mm-iconbar-size: 50px;
}

.brz-mm-menu_iconbar-left .brz-mm-panels,
.brz-mm-menu_iconbar-left .brz-mm-navbars_top,
.brz-mm-menu_iconbar-left .brz-mm-navbars_bottom {
  margin-left: 50px;
  margin-left: var(--mm-iconbar-size);
}

.brz-mm-menu_iconbar-left .brz-mm-iconbar {
  border-right-width: 1px;
  display: block;
  left: 0;
}

.brz-mm-menu_iconbar-right .brz-mm-panels,
.brz-mm-menu_iconbar-right .brz-mm-navbars_top,
.brz-mm-menu_iconbar-right .brz-mm-navbars_bottom {
  margin-right: 50px;
  margin-right: var(--mm-iconbar-size);
}

.brz-mm-menu_iconbar-right .brz-mm-iconbar {
  border-left-width: 1px;
  display: block;
  right: 0;
}

.brz-mm-iconbar {
  width: 50px;
  border-color: rgba(0, 0, 0, 0.1);
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.3);
  display: none;
  width: var(--mm-iconbar-size);
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  border: 0 solid;
  border-color: var(--mm-color-border);
  background: var(--mm-color-background);
  color: var(--mm-color-text-dimmed);
  text-align: center;
}

.brz-mm-iconbar__top,
.brz-mm-iconbar__bottom {
  width: inherit;
  position: absolute;
}

.brz-mm-iconbar__top>*,
.brz-mm-iconbar__bottom>* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 12.5px 0;
}

.brz-mm-iconbar__top a,
.brz-mm-iconbar__bottom a,
.brz-mm-iconbar__top a:hover,
.brz-mm-iconbar__bottom a:hover {
  text-decoration: none;
}

.brz-mm-iconbar__top {
  top: 0;
}

.brz-mm-iconbar__bottom {
  bottom: 0;
}

.brz-mm-iconbar__tab_selected {
  background: rgba(255, 255, 255, 0.4);
  background: var(--mm-color-background-emphasis);
}

:root {
  --mm-iconpanel-size: 50px;
}

.brz-mm-panel_iconpanel-1 {
  width: calc(100% - 50px);
  width: calc(100% - (var(--mm-iconpanel-size) * 1));
}

.brz-mm-panel_iconpanel-2 {
  width: calc(100% - 100px);
  width: calc(100% - (var(--mm-iconpanel-size) * 2));
}

.brz-mm-panel_iconpanel-3 {
  width: calc(100% - 150px);
  width: calc(100% - (var(--mm-iconpanel-size) * 3));
}

.brz-mm-panel_iconpanel-first~.brz-mm-panel {
  width: calc(100% - 50px);
  width: calc(100% - var(--mm-iconpanel-size));
}

.brz-mm-menu_iconpanel .brz-mm-panels>.brz-mm-panel {
  left: auto;
  -webkit-transition-property: width, -webkit-transform;
  transition-property: width, -webkit-transform;
  transition-property: transform, width;
  transition-property: transform, width, -webkit-transform;
}

.brz-mm-menu_iconpanel .brz-mm-panels>.brz-mm-panel_opened,
.brz-mm-menu_iconpanel .brz-mm-panels>.brz-mm-panel_opened-parent {
  display: block !important;
}

.brz-mm-menu_iconpanel .brz-mm-panels>.brz-mm-panel_opened-parent {
  overflow-y: hidden;
  -webkit-transform: unset;
  transform: unset;
}

.brz-mm-menu_iconpanel .brz-mm-panels>.brz-mm-panel:not(.brz-mm-panel_iconpanel-first):not(.brz-mm-panel_iconpanel-0) {
  border-left-width: 1px;
  border-left-style: solid;
}

.brz-mm-menu_hidenavbar .brz-mm-panel_opened-parent .brz-mm-navbar,
.brz-mm-menu_hidedivider .brz-mm-panel_opened-parent .brz-mm-divider {
  opacity: 0;
}

.brz-mm-panel__blocker {
  background: inherit;
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.brz-mm-panel_opened-parent .brz-mm-panel__blocker {
  opacity: 0.6;
  bottom: -100000px;
}

[dir='rtl'] .brz-mm-menu_iconpanel .brz-mm-panels>.brz-mm-panel {
  left: 0;
  right: auto;
  -webkit-transition-property: width, -webkit-transform;
  transition-property: width, -webkit-transform;
  transition-property: transform, width;
  transition-property: transform, width, -webkit-transform;
}

[dir='rtl'] .brz-mm-menu_iconpanel .brz-mm-panels>.brz-mm-panel:not(.brz-mm-panel_iconpanel-first):not(.brz-mm-panel_iconpanel-0) {
  border-left: none;
  border-right: 1px solid;
  border-color: inherit;
}

.brz-mm-menu_keyboardfocus a:focus,
.brz-mm-menu_keyboardfocus.brz-mm-menu_opened~.brz-mm-wrapper__blocker a:focus {
  background: rgba(255, 255, 255, 0.4);
  background: var(--mm-color-background-emphasis);
  outline: none;
}

.brz-mm-wrapper__blocker .brz-mm-tabstart {
  cursor: default;
  display: block;
  width: 100%;
  height: 100%;
}

.brz-mm-wrapper__blocker .brz-mm-tabend {
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.brz-mm-navbars_top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.brz-mm-navbars_top .brz-mm-navbar:not(:last-child) {
  border-bottom: none;
}

.brz-mm-navbars_bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.brz-mm-navbars_bottom .brz-mm-navbar {
  border-bottom: none;
}

.brz-mm-navbars_bottom .brz-mm-navbar:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid var(--mm-color-border);
}

.brz-mm-btn:not(.brz-mm-hidden)+.brz-mm-navbar__searchfield .brz-mm-searchfield__input {
  padding-left: 0;
}

.brz-mm-navbar__searchfield:not(:last-child) .brz-mm-searchfield__input {
  padding-right: 0;
}

.mm-navbar__breadcrumbs {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.mm-navbar__breadcrumbs>* {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 6px;
}

.mm-navbar__breadcrumbs>a {
  text-decoration: underline;
}

.mm-navbar__breadcrumbs:not(:last-child) {
  padding-right: 0;
}

.mm-btn:not(.mm-hidden)+.mm-navbar__breadcrumbs {
  padding-left: 0;
}

.brz-mm-navbar_tabs>* {
  padding: 0 10px;
  border: 1px solid transparent;
}

.brz-mm-navbar__tab_selected {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.75);
  background: var(--mm-color-background);
  color: var(--mm-color-text);
}

.brz-mm-navbar__tab_selected:not(:first-child) {
  border-left-color: rgba(0, 0, 0, 0.1);
}

.brz-mm-navbar__tab_selected:not(:last-child) {
  border-right-color: rgba(0, 0, 0, 0.1);
}

.brz-mm-navbar__tab_selected:not(:first-child) {
  border-left-color: var(--mm-color-border);
}

.brz-mm-navbar__tab_selected:not(:last-child) {
  border-right-color: var(--mm-color-border);
}

.brz-mm-navbars_top .brz-mm-navbar_tabs {
  border-bottom: none;
}

.brz-mm-navbars_top .brz-mm-navbar_tabs>* {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: var(--mm-color-border);
}

.brz-mm-navbars_top .brz-mm-navbar__tab_selected {
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-color: var(--mm-color-border);
  border-bottom-color: transparent;
}

.brz-mm-navbars_top.brz-mm-navbars_has-tabs .brz-mm-navbar {
  background: rgba(255, 255, 255, 0.4);
  background: var(--mm-color-background-emphasis);
}

.brz-mm-navbars_top.brz-mm-navbars_has-tabs .brz-mm-navbar_tabs~.brz-mm-navbar {
  background: #f3f3f3;
  background: var(--mm-color-background);
}

.brz-mm-navbars_bottom .brz-mm-navbar_tabs:first-child {
  border-top: none;
}

.brz-mm-navbars_bottom .brz-mm-navbar_tabs>* {
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-color: var(--mm-color-border);
}

.brz-mm-navbars_bottom .brz-mm-navbar__tab_selected {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: var(--mm-color-border);
  border-top-color: transparent;
}

.brz-mm-navbars_bottom.brz-mm-navbars_has-tabs .brz-mm-navbar {
  background: #f3f3f3;
  background: var(--mm-color-background);
}

.brz-mm-navbars_bottom.brz-mm-navbars_has-tabs .brz-mm-navbar_tabs,
.brz-mm-navbars_bottom.brz-mm-navbars_has-tabs .brz-mm-navbar_tabs~.brz-mm-navbar {
  background: rgba(255, 255, 255, 0.4);
  background: var(--mm-color-background-emphasis);
}

.brz-mm-searchfield {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: var(--mm-navbar-size);
  padding: 0;
  overflow: hidden;
}

.brz-mm-searchfield input {
  height: 30.8px;
  line-height: 30.8px;
}

.brz-mm-searchfield input,
.brz-mm-searchfield input:hover,
.brz-mm-searchfield input:focus {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.75);
}

.brz-mm-searchfield input {
  display: block;
  width: 100%;
  max-width: 100%;
  height: calc(var(--mm-navbar-size) * 0.7);
  min-height: unset;
  max-height: unset;
  margin: 0;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none !important;
  border-radius: 4px;
  line-height: calc(var(--mm-navbar-size) * 0.7);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  font: inherit;
  font-size: inherit;
}

.brz-mm-searchfield input,
.brz-mm-searchfield input:hover,
.brz-mm-searchfield input:focus {
  background: var(--mm-color-background-highlight);
  color: var(--mm-color-text);
}

.brz-mm-searchfield input::-ms-clear {
  display: none;
}

.brz-mm-searchfield__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.brz-mm-panel__noresultsmsg {
  color: rgba(0, 0, 0, 0.3);
  padding: 50px 0;
  color: var(--mm-color-text-dimmed);
  text-align: center;
  font-size: 150%;
}

.brz-mm-searchfield__btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.brz-mm-panel_search {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  border-left: none !important;
}

.brz-mm-searchfield__cancel {
  line-height: 44px;
  display: block;
  padding-right: 10px;
  margin-right: -100px;
  line-height: var(--mm-navbar-size);
  text-decoration: none;
  -webkit-transition: margin 0.4s ease;
  transition: margin 0.4s ease;
}

.brz-mm-searchfield__cancel-active {
  margin-right: 0;
}

.brz-mm-listitem_nosubitems>.brz-mm-listitem__btn {
  display: none;
}

.brz-mm-listitem_nosubitems>.brz-mm-listitem__text {
  padding-right: 10px;
}

.brz-mm-listitem_onlysubitems>.brz-mm-listitem__text:not(.brz-mm-listitem__btn) {
  z-index: -1;
  pointer-events: none;
}

.brz-mm-sectionindexer {
  background: inherit;
  text-align: center;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  z-index: 5;
  -webkit-transition: right 0.4s ease;
  transition: right 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.brz-mm-sectionindexer a {
  color: rgba(0, 0, 0, 0.3);
  color: var(--mm-color-text-dimmed);
  line-height: 1;
  text-decoration: none;
  display: block;
}

.brz-mm-sectionindexer~.brz-mm-panel {
  padding-right: 0;
}

.brz-mm-sectionindexer_active {
  right: 0;
}

.brz-mm-sectionindexer_active~.brz-mm-panel {
  padding-right: 20px;
}

.brz-mm-menu_selected-hover .brz-mm-listitem__text,
.brz-mm-menu_selected-hover .brz-mm-listitem__btn,
.brz-mm-menu_selected-parent .brz-mm-listitem__text,
.brz-mm-menu_selected-parent .brz-mm-listitem__btn {
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.brz-mm-menu_selected-hover .brz-mm-listview:hover>.brz-mm-listitem_selected>.brz-mm-listitem__text {
  background: none;
}

.brz-mm-menu_selected-hover .brz-mm-listitem__text:hover,
.brz-mm-menu_selected-hover .brz-mm-listitem__btn:hover {
  background: rgba(255, 255, 255, 0.4);
  background: var(--mm-color-background-emphasis);
}

.brz-mm-menu_selected-parent .brz-mm-panel_opened-parent .brz-mm-listitem:not(.brz-mm-listitem_selected-parent)>.brz-mm-listitem__text {
  background: none;
}

.brz-mm-menu_selected-parent .brz-mm-listitem_selected-parent>.brz-mm-listitem__text,
.brz-mm-menu_selected-parent .brz-mm-listitem_selected-parent>.brz-mm-listitem__btn {
  background: rgba(255, 255, 255, 0.4);
  background: var(--mm-color-background-emphasis);
}

:root {
  --mm-sidebar-collapsed-size: 50px;
  --mm-sidebar-expanded-size: 440px;
}

.brz-mm-wrapper_sidebar-collapsed body,
.brz-mm-wrapper_sidebar-expanded body {
  position: relative;
}

.brz-mm-wrapper_sidebar-collapsed .brz-mm-slideout,
.brz-mm-wrapper_sidebar-expanded .brz-mm-slideout {
  -webkit-transition-property: width, -webkit-transform;
  transition-property: width, -webkit-transform;
  transition-property: width, transform;
  transition-property: width, transform, -webkit-transform;
}

.brz-mm-wrapper_sidebar-collapsed .brz-mm-page,
.brz-mm-wrapper_sidebar-expanded .brz-mm-page {
  background: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
}

.brz-mm-wrapper_sidebar-collapsed .brz-mm-menu_sidebar-collapsed,
.brz-mm-wrapper_sidebar-expanded .brz-mm-menu_sidebar-expanded {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  top: 0 !important;
  right: auto !important;
  bottom: 0 !important;
  left: 0 !important;
}

.brz-mm-wrapper_sidebar-collapsed .brz-mm-slideout {
  width: calc(100% - 50px);
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
  width: calc(100% - var(--mm-sidebar-collapsed-size));
  -webkit-transform: translate3d(var(--mm-sidebar-collapsed-size), 0, 0);
  transform: translate3d(var(--mm-sidebar-collapsed-size), 0, 0);
}

.brz-mm-wrapper_sidebar-collapsed:not(.brz-mm-wrapper_opening) .brz-mm-menu_hidenavbar .brz-mm-navbar,
.brz-mm-wrapper_sidebar-collapsed:not(.brz-mm-wrapper_opening) .brz-mm-menu_hidedivider .brz-mm-divider {
  opacity: 0;
}

.brz-mm-wrapper_sidebar-expanded .brz-mm-menu_sidebar-expanded {
  width: 440px;
  width: var(--mm-sidebar-expanded-size);
  min-width: 0 !important;
  max-width: 100000px !important;
  border-right-width: 1px;
  border-right-style: solid;
}

.brz-mm-wrapper_sidebar-expanded .brz-mm-menu_sidebar-expanded.brz-mm-menu_pageshadow:after {
  content: none;
  display: none;
}

.brz-mm-wrapper_sidebar-expanded.brz-mm-wrapper_blocking,
.brz-mm-wrapper_sidebar-expanded.brz-mm-wrapper_blocking body {
  overflow: visible;
}

.brz-mm-wrapper_sidebar-expanded .brz-mm-wrapper__blocker {
  display: none !important;
}

.brz-mm-wrapper_sidebar-expanded:not(.brz-mm-wrapper_sidebar-closed) .brz-mm-menu_sidebar-expanded.brz-mm-menu_opened~.brz-mm-slideout {
  width: calc(100% - 440px);
  -webkit-transform: translate3d(440px, 0, 0);
  transform: translate3d(440px, 0, 0);
  width: calc(100% - var(--mm-sidebar-expanded-size));
  -webkit-transform: translate3d(var(--mm-sidebar-expanded-size), 0, 0);
  transform: translate3d(var(--mm-sidebar-expanded-size), 0, 0);
}

.brz-mm-menu__blocker {
  background: rgba(3, 2, 1, 0);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.brz-mm-menu_opened .brz-mm-menu__blocker {
  display: none;
}

[dir="rtl"].brz-mm-wrapper_sidebar-collapsed .brz-mm-slideout {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[dir="rtl"].brz-mm-wrapper_sidebar-expanded .brz-mm-slideout {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[dir="rtl"].brz-mm-wrapper_sidebar-expanded:not(.brz-mm-wrapper_sidebar-closed) .brz-mm-menu_sidebar-expanded.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

input.brz-mm-toggle {
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  min-width: 58px;
  width: 58px;
  height: 34px;
  margin: 0 10px;
  margin-top: calc((var(--mm-listitem-size) - 34px) / 2);
  border: none !important;
  background: var(--mm-color-border);
  border-radius: 34px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

input.brz-mm-toggle:before {
  background: #f3f3f3;
}

input.brz-mm-toggle:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  margin: 1px;
  border-radius: 34px;
  background: var(--mm-color-background);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

input.brz-mm-toggle:checked {
  background: #4bd963;
}

input.brz-mm-toggle:checked:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

input.brz-mm-check {
  margin-top: 2px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: none !important;
  background: none !important;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  margin-top: calc((var(--mm-listitem-size) - 40px) / 2);
}

input.brz-mm-check:before {
  content: '';
  display: block;
  width: 40%;
  height: 20%;
  margin: 25% 0 0 20%;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-color: var(--mm-color-text);
  opacity: 0.3;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input.brz-mm-check:checked:before {
  opacity: 1;
}

[dir="rtl"] input.brz-mm-toggle:checked~label.brz-mm-toggle:before {
  float: left;
}

.brz-mm-menu_border-none .brz-mm-listitem:after {
  content: none;
}

.brz-mm-menu_border-full .brz-mm-listitem:after {
  left: 0 !important;
}

.brz-mm-menu_fx-menu-slide {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.brz-mm-wrapper_opened .brz-mm-menu_fx-menu-slide {
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}

.brz-mm-wrapper_opening .brz-mm-menu_fx-menu-slide {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.brz-mm-wrapper_opened .brz-mm-menu_fx-menu-slide.brz-mm-menu_position-right {
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}

.brz-mm-wrapper_opening .brz-mm-menu_fx-menu-slide.brz-mm-menu_position-right {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.brz-mm-menu_fx-panels-none .brz-mm-panel,
.brz-mm-panel_fx-none {
  -webkit-transition-property: none;
  transition-property: none;
}

.brz-mm-menu_fx-panels-none .brz-mm-panel.brz-mm-panel_opened-parent,
.brz-mm-panel_fx-none.brz-mm-panel_opened-parent {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.brz-mm-menu_fx-panels-slide-0 .brz-mm-panel_opened-parent {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.brz-mm-menu_fx-panels-slide-100 .brz-mm-panel_opened-parent {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.brz-mm-menu_fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px;
}

.brz-mm-wrapper_opening .brz-mm-menu_fullscreen~.brz-mm-slideout {
  -webkit-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
}

@media all and (max-width: 140px) {
  .brz-mm-wrapper_opening .brz-mm-menu_fullscreen~.brz-mm-slideout {
    -webkit-transform: translate3d(140px, 0, 0);
    transform: translate3d(140px, 0, 0);
  }
}

@media all and (min-width: 10000px) {
  .brz-mm-wrapper_opening .brz-mm-menu_fullscreen~.brz-mm-slideout {
    -webkit-transform: translate3d(10000px, 0, 0);
    transform: translate3d(10000px, 0, 0);
  }
}

.brz-mm-wrapper_opening .brz-mm-menu_fullscreen.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(-100vw, 0, 0);
  transform: translate3d(-100vw, 0, 0);
}

@media all and (max-width: 140px) {
  .brz-mm-wrapper_opening .brz-mm-menu_fullscreen.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-140px, 0, 0);
    transform: translate3d(-140px, 0, 0);
  }
}

@media all and (min-width: 10000px) {
  .brz-mm-wrapper_opening .brz-mm-menu_fullscreen.brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-10000px, 0, 0);
    transform: translate3d(-10000px, 0, 0);
  }
}

.brz-mm-menu_fullscreen.brz-mm-menu_position-top {
  height: 100vh;
  min-height: 140px;
  max-height: 10000px;
}

.brz-mm-menu_fullscreen.brz-mm-menu_position-bottom {
  height: 100vh;
  min-height: 140px;
  max-height: 10000px;
}

.brz-mm-menu_listview-justify .brz-mm-panels>.brz-mm-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.brz-mm-menu_listview-justify .brz-mm-panels>.brz-mm-panel:after {
  content: none;
  display: none;
}

.brz-mm-menu_listview-justify .brz-mm-panels>.brz-mm-panel .brz-mm-listview {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.brz-mm-menu_listview-justify .brz-mm-panels>.brz-mm-panel .brz-mm-listitem {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 50px;
  /* for Safari :( */
}

.brz-mm-menu_listview-justify .brz-mm-panels>.brz-mm-panel .brz-mm-listitem__text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brz-mm-listview_inset {
  list-style: inside disc;
  width: 100%;
  padding: 0 30px 15px 30px;
  margin: 0;
}

.brz-mm-listview_inset .brz-mm-listitem {
  padding: 5px 0;
}

.brz-mm-menu_multiline .brz-mm-listitem__text {
  text-overflow: clip;
  white-space: normal;
}

[class*="brz-mm-menu_pagedim"].brz-mm-menu_opened~.brz-mm-wrapper__blocker {
  opacity: 0;
}

.brz-mm-wrapper_opening [class*="brz-mm-menu_pagedim"].brz-mm-menu_opened~.brz-mm-wrapper__blocker {
  opacity: 0.3;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.brz-mm-menu_opened.brz-mm-menu_pagedim~.brz-mm-wrapper__blocker {
  background: inherit;
}

.brz-mm-menu_opened.brz-mm-menu_pagedim-black~.brz-mm-wrapper__blocker {
  background: #000;
}

.brz-mm-menu_opened.brz-mm-menu_pagedim-white~.brz-mm-wrapper__blocker {
  background: #fff;
}

.brz-mm-menu_popup {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 80%;
  min-height: 140px;
  max-height: 880px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  z-index: 2;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.brz-mm-menu_popup.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: none !important;
  transform: none !important;
  z-index: 0;
}

.brz-mm-menu_popup.brz-mm-menu_opened~.brz-mm-wrapper__blocker {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
  z-index: 1;
}

.brz-mm-wrapper_opening .brz-mm-menu_popup {
  opacity: 1;
}

.brz-mm-menu_position-right {
  left: auto;
  right: 0;
}

.brz-mm-wrapper_opening .brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: translate3d(-80vw, 0, 0);
  transform: translate3d(-80vw, 0, 0);
}

@media all and (max-width: 300px) {
  .brz-mm-wrapper_opening .brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
  }
}

@media all and (min-width: 550px) {
  .brz-mm-wrapper_opening .brz-mm-menu_position-right.brz-mm-menu_opened~.brz-mm-slideout {
    -webkit-transform: translate3d(-440px, 0, 0);
    transform: translate3d(-440px, 0, 0);
  }
}

.brz-mm-menu_position-front,
.brz-mm-menu_position-top,
.brz-mm-menu_position-bottom {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.brz-mm-menu_position-front.brz-mm-menu_opened,
.brz-mm-menu_position-top.brz-mm-menu_opened,
.brz-mm-menu_position-bottom.brz-mm-menu_opened {
  z-index: 2;
}

.brz-mm-menu_position-front.brz-mm-menu_opened~.brz-mm-slideout,
.brz-mm-menu_position-top.brz-mm-menu_opened~.brz-mm-slideout,
.brz-mm-menu_position-bottom.brz-mm-menu_opened~.brz-mm-slideout {
  -webkit-transform: none !important;
  transform: none !important;
  z-index: 0;
}

.brz-mm-menu_position-front.brz-mm-menu_opened~.brz-mm-wrapper__blocker,
.brz-mm-menu_position-top.brz-mm-menu_opened~.brz-mm-wrapper__blocker,
.brz-mm-menu_position-bottom.brz-mm-menu_opened~.brz-mm-wrapper__blocker {
  z-index: 1;
}

.brz-mm-menu_position-front {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.brz-mm-menu_position-front.brz-mm-menu_position-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.brz-mm-menu_position-top,
.brz-mm-menu_position-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.brz-mm-menu_position-top {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.brz-mm-menu_position-top {
  height: 80vh;
  min-height: 140px;
  max-height: 880px;
}

.brz-mm-menu_position-bottom {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  top: auto;
}

.brz-mm-menu_position-bottom {
  height: 80vh;
  min-height: 140px;
  max-height: 880px;
}

.brz-mm-wrapper_opening .brz-mm-menu_position-front,
.brz-mm-wrapper_opening .brz-mm-menu_position-top,
.brz-mm-wrapper_opening .brz-mm-menu_position-bottom {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.brz-mm-menu_shadow-page:after {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  content: '';
  display: block;
  width: 20px;
  height: 120%;
  position: absolute;
  left: 100%;
  top: -10%;
  z-index: 100;
  -webkit-clip-path: polygon(-20px 0, 0 0, 0 100%, -20px 100%);
  clip-path: polygon(-20px 0, 0 0, 0 100%, -20px 100%);
  -webkit-box-shadow: var(--mm-shadow);
  box-shadow: var(--mm-shadow);
}

.brz-mm-menu_shadow-page.brz-mm-menu_position-right:after {
  left: auto;
  right: 100%;
  -webkit-clip-path: polygon(20px 0, 40px 0, 40px 100%, 20px 100%);
  clip-path: polygon(20px 0, 40px 0, 40px 100%, 20px 100%);
}

.brz-mm-menu_shadow-page.brz-mm-menu_position-front:after {
  content: none;
  display: none;
}

.brz-mm-menu_shadow-menu {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: var(--mm-shadow);
  box-shadow: var(--mm-shadow);
}

.brz-mm-menu_shadow-panels .brz-mm-panels>.brz-mm-panel {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: var(--mm-shadow);
  box-shadow: var(--mm-shadow);
}

.brz .brz-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  width: 100%;
}

.brz .brz-menu__container .brz-mm-menu__icon:hover {
  cursor: pointer;
}

.brz .brz-menu__ul {
  padding: 0;
  margin: 0;
}

.brz .brz-menu:not(.brz-mm-menu) {
  position: relative;
  width: 100%;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}

.brz .brz-menu .brz-menu__dropdown {
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.brz .brz-menu .brz-menu__dropdown:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.brz .brz-menu .brz-menu__dropdown .brz-menu__item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.brz .brz-menu .brz-menu__dropdown .brz-menu__item:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.brz .brz-menu .brz-menu__dropdown .brz-menu__item-dropdown>.brz-a {
  position: relative;
}

.brz .brz-menu .brz-menu__dropdown .brz-menu__item-dropdown>.brz-a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 23px;
  bottom: 0;
  left: auto;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-right-style: none;
  border-bottom-style: none;
  margin: auto;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.brz .brz-menu .brz-menu__item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.brz .brz-menu .brz-menu__item>.brz-a {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-size: inherit;
  display: inherit;
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  text-decoration: none;
}

.brz .brz-menu .brz-menu__item>.brz-a:hover {
  text-decoration: none;
}

.brz .brz-menu .brz-menu__item-dropdown {
  position: relative;
}

.brz .brz-menu .brz-menu__item-dropdown .brz-menu__item {
  padding: 0;
  -webkit-transition: background-color 0.2s linear, border-bottom-color 0.2s linear;
  transition: background-color 0.2s linear, border-bottom-color 0.2s linear;
}

.brz .brz-menu .brz-menu__item-dropdown .brz-menu__item .brz-a {
  width: 100%;
  padding: 15px 35px 15px 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.brz .brz-menu.brz-menu__mmenu:not(.brz-mm-menu) {
  display: none;
}

.brz .brz-menu.brz-mm-menu {
  text-transform: initial;
}

.brz .brz-menu.brz-mm-menu.brz-mm-menu_opened {
  display: block;
}

.brz .brz-menu.brz-mm-menu .brz-mm-navbar a:not(.brz-btn),
.brz .brz-menu.brz-mm-menu .brz-mm-navbar>* {
  color: inherit;
}

.brz .brz-menu.brz-mm-menu .brz-mm-navbar:not(.brz-mm-listitem) {
  height: 44px;
  background-color: transparent;
}

.brz .brz-menu.brz-mm-menu .brz-menu__ul>.brz-mm-navbar {
  height: 44px;
  border-bottom-width: inherit;
  background-color: transparent;
}

.brz .brz-menu.brz-mm-menu .brz-menu__ul .brz-mm-listitem_opened>.brz-mm-panel {
  background-color: rgba(255, 255, 255, 0.05);
}

.brz .brz-menu.brz-mm-menu .brz-menu__ul--has-dropdown .brz-mm-listitem_opened>.brz-mm-panel {
  background-color: transparent;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: none;
  transform: none;
  padding: 0;
  position: relative;
  left: auto;
  top: auto;
  visibility: visible;
  opacity: 1;
  width: auto;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item.brz-mm-listitem_vertical>.brz-mm-panel {
  padding: 0 10px;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item.brz-mm-menu__item-mega-menu>.brz-mm-panel {
  padding: 0;
  overflow: visible;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item.brz-mm-listitem_opened>.brz-mm-listitem__text {
  position: relative;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item.brz-mm-listitem_opened>.brz-mm-listitem__text:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid;
  border-color: inherit;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item .brz-mm-listitem__text {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-size: inherit;
  border-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item.brz-mm-menu__item-empty .brz-mm-btn {
  display: none;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item .brz-mm-btn_next {
  position: absolute;
  right: 0;
  left: auto;
  background: none;
  padding: 0;
  min-width: 50px;
  border: 0;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brz .brz-menu.brz-mm-menu .brz-mm-menu__item .brz-mm-btn_next:after {
  position: relative;
  left: auto;
  right: auto;
  border-color: inherit;
  width: 7px;
  height: 7px;
}

.brz .brz-menu .brz-mm-navbar__title {
  line-height: 20px;
  font-size: 13px;
  padding: 12px 20px;
}

.brz .brz-menu--has-dropdown.brz-mm-menu .brz-mm-navbar {
  padding: 0;
}

.brz .brz-menu--has-dropdown.brz-mm-menu .brz-mm-navbar__title {
  padding: 12px 50px 12px 20px;
}

.brz .brz-menu--has-dropdown.brz-mm-menu .brz-mm-menu__item>.brz-mm-listitem__text {
  padding-right: 50px;
}

.brz .brz-menu .brz-a {
  width: 100%;
}

.brz .brz-menu .brz-a,
.brz .brz-menu .brz-mm-btn_next {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.brz .brz-menu .brz-a:focus,
.brz .brz-menu .brz-a:active,
.brz .brz-menu .brz-a:hover,
.brz .brz-menu .brz-mm-btn_next:focus,
.brz .brz-menu .brz-mm-btn_next:active,
.brz .brz-menu .brz-mm-btn_next:hover {
  outline: none;
}

.brz .brz-menu__error {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #ececec;
  font-family: "nunito", "Open Sans", Arial, sans-serif;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.brz .brz-menu__error .brz-a {
  font-weight: 700;
  margin-right: 5px;
  cursor: pointer;
}

.brz .brz-menu.brz-mm-menu_opened~.brz-mm-wrapper__blocker {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.brz .brz-mega-menu__portal {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1065;
  -webkit-transition: 0.2s linear opacity;
  transition: 0.2s linear opacity;
}

.brz .brz-mega-menu__portal--opened {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s linear opacity;
  transition: 0.2s linear opacity;
}

.brz .brz-mega-menu__portal[data-popper-placement^="right"],
.brz .brz-mega-menu__portal[data-popper-placement^="left"] {
  padding-top: 0;
  padding-bottom: 0;
}

.brz .brz-mega-menu__portal[data-popper-placement^="right"] {
  padding-right: 0;
}

.brz .brz-mega-menu__portal[data-popper-placement^="left"] {
  padding-left: 0;
}

.brz .brz-mega-menu__portal[data-popper-placement^="top"],
.brz .brz-mega-menu__portal[data-popper-placement^="bottom"] {
  padding-left: 0;
  padding-right: 0;
}

.brz .brz-mega-menu__portal[data-popper-placement^="top"] {
  padding-top: 0;
}

.brz .brz-mega-menu__portal[data-popper-placement^="bottom"] {
  padding-bottom: 0;
}

.brz .brz-mega-menu__dropdown {
  width: 100%;
}

.brz .brz-mega-menu {
  position: relative;
}

.brz .brz-mega-menu>.brz-bg {
  overflow: hidden;
}

.brz .brz-mega-menu>.brz-container {
  position: relative;
}

.brz .brz-mega-menu__mmenu {
  overflow: visible;
  padding: 0;
}

.brz:not(.brz-ed) .brz-menu .brz-menu__item:hover>.brz-menu__sub-menu,
.brz:not(.brz-ed) .brz-menu .brz-menu__item:hover>.brz-mega-menu__portal {
  visibility: visible;
  opacity: 1;
  z-index: 1065;
  -webkit-transition: 0.2s z-index linear, 0.2s opacity linear;
  transition: 0.2s z-index linear, 0.2s opacity linear;
}

.brz:not(.brz-ed) .brz-menu:not(.brz-menu--has-dropdown) .brz-mm-navbar__title {
  padding-left: 0;
  padding-right: 0;
}

.brz:not(.brz-ed) .brz-menu .brz-mm-panel_has-navbar {
  padding-top: 44px;
}

.brz:not(.brz-ed) .brz-mega-menu__portal {
  z-index: 1071;
}

.brz .brz-root__container.brz-mm-page {
  position: relative;
  background: inherit;
}

.brz .brz-root__container.brz-mm-slideout {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.brz .brz-mm-menu_position-bottom.brz-mm-menu_opened,
.brz .brz-mm-menu_position-front.brz-mm-menu_opened,
.brz .brz-mm-menu_position-top.brz-mm-menu_opened {
  z-index: 4;
}

.brz .brz-mm-menu_position-bottom.brz-mm-menu_opened~.brz-mm-wrapper__blocker,
.brz .brz-mm-menu_position-front.brz-mm-menu_opened~.brz-mm-wrapper__blocker,
.brz .brz-mm-menu_position-top.brz-mm-menu_opened~.brz-mm-wrapper__blocker {
  z-index: 3;
}

.brz.brz-mm-wrapper:not(.brz-mm-wrapper_blocking) {
  overflow: visible;
}

.brz.brz-mm-wrapper_opened .brz-mm-page {
  z-index: auto;
}

.brz.brz-mm-wrapper_opened:not(.brz-ed) .brz-root__container>.brz-section:not(.brz-section__header) {
  z-index: 1;
}

.brz.brz-mm-wrapper_opened .brz-popup,
.brz.brz-mm-wrapper_opened .brz-popup2,
.brz.brz-mm-wrapper_opened .brz-section__header,
.brz.brz-mm-wrapper_opened .brz-mega-menu__portal {
  z-index: 2;
}
