img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus):first-letter,
.wp-block-button.is-style-outline,
a {
	color: #e22658;
}

blockquote,
.border-color-accent,
.border-color-accent-hover:hover,
.border-color-accent-hover:focus {
	border-color: #e22658;
}

button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
	background-color: #e22658;
}

.fill-children-accent,
.fill-children-accent * {
	fill: #e22658;
}

:root .has-background-color,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button,
.comment-reply-link,
.has-background.has-primary-background-color:not(.has-text-color),
.has-background.has-primary-background-color *:not(.has-text-color),
.has-background.has-accent-background-color:not(.has-text-color),
.has-background.has-accent-background-color *:not(.has-text-color) {
	color: #ffffff;
}

:root .has-background-background-color {
	background-color: #ffffff;
}

body,
.entry-title a,
:root .has-primary-color {
	color: #000000;
}

:root .has-primary-background-color {
	background-color: #000000;
}

cite,
figcaption,
.wp-caption-text,
.post-meta,
.entry-content .wp-block-archives li,
.entry-content .wp-block-categories li,
.entry-content .wp-block-latest-posts li,
.wp-block-latest-comments__comment-date,
.wp-block-latest-posts__post-date,
.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-pullquote cite,
.comment-metadata,
.comment-respond .comment-notes,
.comment-respond .logged-in-as,
.pagination .dots,
.entry-content hr:not(.has-background),
hr.styled-separator,
:root .has-secondary-color {
	color: #6d6d6d;
}

:root .has-secondary-background-color {
	background-color: #6d6d6d;
}

pre,
fieldset,
input,
textarea,
table,
table *,
hr {
	border-color: #dbdbdb;
}

caption,
code,
code,
kbd,
samp,
.wp-block-table.is-style-stripes tbody tr:nth-child(odd),
:root .has-subtle-background-background-color {
	background-color: #dbdbdb;
}

.wp-block-table.is-style-stripes {
	border-bottom-color: #dbdbdb;
}

.wp-block-latest-posts.is-grid li {
	border-top-color: #dbdbdb;
}

:root .has-subtle-background-color {
	color: #dbdbdb;
}

body:not(.overlay-header) .primary-menu>li>a,
body:not(.overlay-header) .primary-menu>li>.icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote:before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
	color: #cd2653;
}

.social-icons a,
#site-footer button:not(.toggle),
#site-footer .button,
#site-footer .faux-button,
#site-footer .wp-block-button__link,
#site-footer .wp-block-file__button,
#site-footer input[type="button"],
#site-footer input[type="reset"],
#site-footer input[type="submit"] {
	background-color: #cd2653;
}

.header-footer-group,
body:not(.overlay-header) #site-header .toggle,
.menu-modal .toggle {
	color: #000000;
}

body:not(.overlay-header) .primary-menu ul {
	background-color: #000000;
}

body:not(.overlay-header) .primary-menu>li>ul:after {
	border-bottom-color: #000000;
}

body:not(.overlay-header) .primary-menu ul ul:after {
	border-left-color: #000000;
}

.site-description,
body:not(.overlay-header) .toggle-inner .toggle-text,
.widget .post-date,
.widget .rss-date,
.widget_archive li,
.widget_categories li,
.widget cite,
.widget_pages li,
.widget_meta li,
.widget_nav_menu li,
.powered-by-wordpress,
.to-the-top,
.singular .entry-header .post-meta,
.singular:not(.overlay-header) .entry-header .post-meta a {
	color: #6d6d6d;
}

.header-footer-group pre,
.header-footer-group fieldset,
.header-footer-group input,
.header-footer-group textarea,
.header-footer-group table,
.header-footer-group table *,
.footer-nav-widgets-wrapper,
#site-footer,
.menu-modal nav *,
.footer-widgets-outer-wrapper,
.footer-top {
	border-color: #dcd7ca;
}

.header-footer-group table caption,
body:not(.overlay-header) .header-inner .toggle-wrapper::before {
	background-color: #dcd7ca;
}

.recentcomments a {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}

body.custom-background {
	background-color: #ffffff;
}

.brz .brz-cp-color1,
.brz .brz-bcp-color1 {
	color: #191b21;
}

.brz .brz-cp-color2,
.brz .brz-bcp-color2 {
	color: #142850;
}

.brz .brz-cp-color3,
.brz .brz-bcp-color3 {
	color: #239ddb;
}

.brz .brz-cp-color4,
.brz .brz-bcp-color4 {
	color: #66738d;
}

.brz .brz-cp-color5,
.brz .brz-bcp-color5 {
	color: #bde1f4;
}

.brz .brz-cp-color6,
.brz .brz-bcp-color6 {
	color: #eef0f2;
}

.brz .brz-cp-color7,
.brz .brz-bcp-color7 {
	color: #73777f;
}

.brz .brz-cp-color8,
.brz .brz-bcp-color8 {
	color: #ffffff;
}

.brz .brz-tp-heading2 {
	font-family: Montserrat, sans-serif;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: -1.5px;
	line-height: 1.3em;
}

.brz .brz-ff-montserrat {
	font-family: Montserrat, sans-serif !important;
}

.brz .brz-ff-lato {
	font-family: Lato, sans-serif !important;
}

.brz .brz-ff-overpass {
	font-family: Overpass, sans-serif !important;
}

.brz .brz-ff-red_hat_text {
	font-family: Red Hat Text, sans-serif !important;
}

.brz .brz-ff-dm_serif_text {
	font-family: DM Serif Text, serif !important;
}

.brz .brz-ff-blinker {
	font-family: Blinker, sans-serif !important;
}

.brz .brz-ff-aleo {
	font-family: Aleo, serif !important;
}

.brz .brz-ff-nunito {
	font-family: Nunito, sans-serif !important;
}

.brz .brz-ff-knewave {
	font-family: Knewave, display !important;
}

.brz .brz-ff-palanquin {
	font-family: Palanquin, sans-serif !important;
}

.brz .brz-ff-palanquin_dark {
	font-family: Palanquin Dark, sans-serif !important;
}

.brz .brz-ff-roboto {
	font-family: Roboto, sans-serif !important;
}

.brz .brz-ff-oswald {
	font-family: Oswald, sans-serif !important;
}

.brz .brz-ff-oxygen {
	font-family: Oxygen, sans-serif !important;
}

.brz .brz-ff-playfair_display {
	font-family: Playfair Display, serif !important;
}

.brz .brz-ff-fira_sans {
	font-family: Fira Sans, sans-serif !important;
}

.brz .brz-ff-abril_fatface {
	font-family: Abril Fatface, display !important;
}

.brz .brz-ff-comfortaa {
	font-family: Comfortaa, display !important;
}

.brz .brz-ff-kaushan_script {
	font-family: Kaushan Script, handwriting !important;
}

.brz .brz-ff-noto_serif {
	font-family: Noto Serif, serif !important;
}

.brz .brz-ff-lexend_deca {
	font-family: Lexend Deca, sans-serif !important;
}

.brz .brz-ff-abeezee {
	font-family: ABeeZee, sans-serif !important;
}

.brz .brz-root__container,
.brz .brz-popup2,
.brz .brz-popup {
	font-family: Lato, sans-serif !important;
}

.brz-icon-text input[type=checkbox] {
	width: 2.5rem;
	height: 2.5rem;
	border: #000 solid 2px;
	border-radius: 5px;
	font-size: inherit;
	padding: 2.5px;
}

.brz-icon-text input[type=radio] {
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: 15px;
	font-size: inherit;
	padding: 2.5px;
	padding: 2px;
}

.brz-icon-text input[type='radio']:after {
	width: 2rem;
	height: 2rem;
	border-radius: 15px;
	position: relative;
	background-color: rgba(243, 243, 243, .6);
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid #7a7979;
}

.brz-icon-text input[type='radio']:checked:after {
	position: relative;
	background-color: #ec4b27;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid #7a7979;
}

.brz .brz-rich-text ul {
	padding: 10px 18px;
	font-size: 78%;
	font-weight: 600;
}

.brz .brz-rich-text ul li {
	padding: 3px 0px;
}

.brz .brz-rich-text li span.info {
	color: rgb(0, 0, 0);
	text-align: left;
	float: left;
	font-weight: 800;
}

.brz .brz-rich-text li span.valor {
	color: rgb(0, 0, 0);
	text-align: right;
}

.brz .brz-rich-text li span.red {
	font-size: 16px;
	color: rgb(204, 21, 21);
}

.brz .brz-rich-text li span.green {
	font-size: 16px;
	color: rgb(38, 145, 86);
}

.color-black {
	color: #000;
}

.color-gray {
	color: rgb(102, 102, 102);
}

.uk-notify {
	z-index: 100000;
}

.uk-danger {
	background: #ff00007d;
	color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
}

.uk-success {
	background: #0080008a;
	color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
}

.uk-warning {
	background: #fffceb;
	color: #e28327;
	border-radius: 5px;
	font-size: 15px;
}

.area-loja:not(:last-child) {
	border-bottom: #ccc solid 1px;
}

.pd-lr-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.pd-5-10 {
	padding: 5px 10px
}

input.input-especifco {
	padding: 5px;
	font-size: 13px;
	width: 90%;
	margin: 0 auto;
}

.menu-principal nav {
	color: #fff;
	background: #000;
	border: #000 solid 1px;
	border-radius: 0;
	padding: 25px 20px;
}

.menu-principal .navbar-nav>.active>a,
.menu-principal .navbar-nav>.active>a:hover,
.menu-principal .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #000;
}

.menu-principal .navbar-nav>li>a {
	color: #fff;
}

.menu-principal .navbar-nav>li>a.img {
	padding: 5px;
}

.menu-principal .navbar-nav>li>a>img {
	width: 100px;
}

.menu-principal .navbar-nav>li>a:hover,
.menu-principal .navbar-nav>li>a:focus {
	color: #fff;
	background-color: transparent;
}

.menu-principal .navbar-right>li>a {
	padding: 15px 7px;
}

.menu-principal .navbar-right>li>a {
	padding: 3px 7px;
	margin: 10px 0px;
}

.menu-principal .navbar-right>li>a.separe {
	border-right: #ccc solid 1px;
}

.menu-principal .sacolacompra .itens {
	color: #fff;
	width: auto;
	padding: 3px;
	border-radius: 15px;
	position: absolute;
	top: 26px;
	left: 32px;
	border: none;
	cursor: pointer;
	height: 2rem;
	min-width: 2rem;
	background: red;
}

.menu-principal .navbar-right>li.sacolacompra a {
	padding: 0px 10px;
	margin: 0px;
}

.menu-principal .navbar-right>li.sacolacompra a>i {
	font-size: 38px;
}

.navbar-brand {
	float: left;
	padding: 5px 0px;
	font-size: 15px;
	line-height: 17px;
	width: auto;
	height: 70px;
}

.navbar-brand>img {
	max-height: 100%;
	height: 100%;
	width: auto;
	margin: -6px auto;
	object-fit: contain;
}

.brz .item-accordion {
	font-family: Lato, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0px;
}

.brz .item-accordion .brz-accordion__item {
	border: 2px solid rgba(220, 222, 225, 1);
	border-radius: 0;
	color: rgba(115, 119, 127, 0.7);
	background-color: rgba(255, 255, 255, 1);
}

.brz .item-accordion .brz-accordion__item.brz-accordion__item--active {
	box-shadow: nullpx nullpx nullpx nullpx undefined;
	;
}

.brz .item-accordion .brz-accordion__nav--icon {
	font-size: 12px;
}

.brz .item-accordion .brz-accordion__item:not(:last-child) {
	margin-bottom: 3px
}

.brz .item-accordion .brz-accordion__content {
	padding: 0px;
	margin-top: -2px
}

.brz .item-accordion .brz-accordion__filter-wrapper {
	justify-content: flex-start;
	font-family: Lato, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0px;
}

.brz .item-accordion .brz-accordion__filter {
	margin-bottom: 20px;
}

.brz .item-accordion .brz-accordion__filter__item {
	margin: 1px 3px 0 3px;
}

.brz .item-accordion .brz-accordion__filter__item {
	color: rgba(115, 119, 127, 0.7);
}

.brz .item-accordion .brz-accordion__filter__item--style-1 {
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(220, 222, 225, 1);
	border-radius: 0;
}

.brz .item-accordion .brz-accordion__filter__item--style-1.brz-accordion__filter__item--active {
	background-color: transparent;
	box-shadow: nullpx nullpx nullpx nullpx undefined;
	;
}

.brz .item-accordion .brz-accordion__filter--style-2 {
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(220, 222, 225, 1);
	border-radius: 0;
	display: inline-flex;
}

.brz .btn-selects-itens.brz-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.8;
	letter-spacing: 3px;
	color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(35, 157, 219, 0);
	border-radius: 2px;
	background-color: rgba(35, 157, 219, 1);
	background-image: none;
	padding: 14px 42px 14px 42px;
	flex-flow: row-reverse nowrap;
}

.brz .btn-selects-itens .brz-btn--story-container {
	border: 2px solid rgba(35, 157, 219, 0);
	flex-flow: row-reverse nowrap;
	border-radius: 2px;
}

.brz .btn-select-item.brz-btn {
	font-weight: 700;
	font-size: 13px;
	color: rgba(25, 27, 33, 1);
	border: 2px solid rgba(115, 119, 127, 1);
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 1);
	padding: 10px 20px 10px 20px;
}

.brz .btn-select-item.brz-btn:hover {
	background: #ec4b27;
}

.brz .btn-select-item.brz-btn-slct {
	font-weight: 700;
	font-size: 13px;
	color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(236, 76, 39, 0);
	background-color: rgba(236, 76, 39, .8);
	border-radius: 6px;
	padding: 10px 20px 10px 20px;
}

.brz .btn-select-item .brz-btn--story-container {
	border: 2px solid rgba(115, 119, 127, 1);
	border-radius: 6px;
}

.brz .hr-linha-separa {
	width: 100%;
	padding: 15px 0px;
}

.brz .hr-linha-separa .brz-hr {
	border-top: 2px solid rgba(115, 119, 127, 0.75);
}

.brz .btn-quero-vender {
	justify-content: center;
	padding: 20;
}

.brz .btn-quero-vender button {
	margin: 0 auto;
}

.brz .cab-tipo-coleta.brz-btn {
	font-size: 15px;
	border: 0px solid rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 1)
}

.brz .cab-tipo-coleta .brz-btn--story-container {
	border: 0px solid rgba(0, 0, 0, 0);
}

.brz .btn-vender-main.brz-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.8;
	letter-spacing: 3px;
	color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 0px;
	background-color: #000;
	background-image: none;
	padding: 14px 42px 14px 42px;
	flex-flow: row-reverse nowrap;
}

.brz .btn-vender-main .brz-btn--story-container {
	border: 2px solid rgba(35, 157, 219, 0);
	flex-flow: row-reverse nowrap;
	border-radius: 2px;
}

.brz .btn-vender.brz-btn {
	border: 0px solid rgba(229, 229, 229, 0);
	background-color: rgba(236, 76, 39, 1);
}

.brz .btn-vender.brz-btn:focus,
.brz .btn-form-send.brz-btn:focus {
	background-color: rgba(236, 76, 39, 1);
	outline: 0;
}

.brz .btn-vender-main.brz-btn:focus {
	background-color: #000;
	outline: 0;
}

.brz .btn-vender .brz-btn--story-container {
	border: 0px solid rgba(229, 229, 229, 0);
}

.brz .btn-form-send {
	font-size: 1.2rem;
}

.brz .btn-form-send.brz-btn {
	border: 0px solid rgba(229, 229, 229, 0);
	background-color: rgba(236, 76, 39, 1);
}

.brz .btn-form-send .brz-btn--story-container {
	border: 0px solid rgba(229, 229, 229, 0);
}

.color-red-title {
	color: rgb(225, 38, 38);
}

.item-hover-select {
	-webkit-transition: background 1s;
	transition: background 1s;
}

.item-hover-select:hover {
	background: rgb(236 75 39);
}

.form-checkout input:not(.oploja),
.form-checkout select {
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.form-checkout label:not(.oploja) {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	margin-top: 3px;
}

.op-check {
	padding-left: 35%;
}

.pd-l-10 {
	padding-left: 10px;
}

.pd-t-10 {
	padding-top: 10px;
}

.btn-form input {
	margin: 0 auto;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-200 {
	margin-bottom: 200px;
}

.mr-15 {
	margin-right: 15px;
}

.ml-15 {
	margin-left: 15px;
}

.pd-3 {
	padding: 3px;
}

.pd-10 {
	padding: 10px;
}

.blocks-checkout {
	border: 1px solid rgba(229, 229, 229, 1);
	padding: 15px;
	margin-bottom: 15px;
}

.bg-gray {
	background-color: rgba(243, 243, 243, .6);
}

.op-coleta {
	border: #E5E5E5 solid 0.1rem;
}

.num-proposta {
	background-color: rgba(115, 119, 127, 0.1);
	padding: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.brz .brz-rich-text div.info {
	color: rgb(0, 0, 0);
	font-size: 68%;
	font-weight: 600;
	padding: 13px;
}

.brz .brz-rich-text div.infoavarias {
	color: rgb(0, 0, 0);
	font-size: 70%;
	font-weight: 600;
	padding: 13px 2px;
}

.brz .brz-rich-text>div.infominimo {
	padding: 15px;
	border: #e5e5e5 solid 2px;
	margin: 15px;
	text-align: center;
	font-weight: 600;
}

.brz .brz-rich-text div.info>div.item {
	padding-top: 5px;
	line-height: 11px;
	height: 24px;
	margin-top: 3px;
}

.rodape-itens {
	margin: 50px 0px;
}

.rodape-itens a {
	font-size: 50px;
	color: rgba(236, 75, 39, 1);
}

.rodape-itens a:hover {
	color: rgba(35, 157, 219, 0.8)
}

.fixed-top {
	position: fixed;
}

@media(min-width:992px) and (max-width:1024px) {
	.menu-principal nav {
		padding: 5px 5px;
	}

	.menu-principal .navbar-nav>li>a>img {
		width: 100px;
	}

	.menu-principal .navbar-right>li>a {
		padding: 15px 7px;
	}

	.menu-principal .navbar-right>li>a {
		padding: 3px 7px;
		margin: 10px 0px;
	}

	.menu-principal .sacolacompra .itens {
		padding: 5px;
		top: 18px;
		left: 23px;
		height: 2rem;
		min-width: 2rem;
		background: red;
		font-size: 12px;
	}

	.menu-principal .navbar-right>li.sacolacompra a {
		padding: 0px 10px;
		margin: 0px;
	}

	.menu-principal .navbar-right>li.sacolacompra a>i {
		font-size: 30px;
	}

	.menu-principal .navbar-right>li>a.separe {
		border-right: none;
	}

	.navbar-collapse {
		width: 84%;
		float: right;
	}

	.navbar-nav>li {
		float: left;
		padding: 5px 4px;
	}

	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 10px;
	}

	.nav>li>a {
		position: relative;
		display: block;
		padding: 5px 5px;
		font-size: 19px;
	}

	.navbar-brand {
		float: left;
		padding: 10px 0px;
		font-size: 15px;
		line-height: 17px;
	}

	.navbar-brand>img {
		max-height: 6%;
		height: 6%;
		width: auto;
		margin: -6px auto;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.brz .btn-vender-main.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-vender-main.brz-btn:hover {
		background-color: rgb(236 76 39);
	}

	.brz .btn-selects-itens.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-selects-itens.brz-btn:hover {
		background-color: rgba(35, 157, 219, 0.8);
	}

	.brz .btn-select-item.brz-btn:hover {
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(236, 76, 39, 0);
		background-color: rgba(236, 76, 39, 0.8);
	}

	.brz .btn-select-item:hover .brz-btn--story-container {
		border: 2px solid rgba(236, 76, 39, 0);
	}

	.brz .cab-tipo-coleta.brz-btn:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.brz .btn-vender.brz-btn:hover {
		border: 0px solid rgba(35, 157, 219, 0);
		background-color: rgba(0, 0, 0, 0.8);
	}

	.brz .btn-vender:hover .brz-btn--story-container {
		border: 0px solid rgba(35, 157, 219, 0);
	}

	.brz .btn-form-send.brz-btn:hover {
		border: 0px solid rgba(35, 157, 219, 0);
		background-color: rgba(0, 0, 0, 0.8);
	}

	.brz .btn-form-send:hover .brz-btn--story-container {
		border: 0px solid rgba(35, 157, 219, 0);
	}
}

@media(max-width:991px) and (min-width:768px) {
	.menu-principal nav {
		padding: 5px 5px;
	}

	.menu-principal .navbar-nav>li>a>img {
		width: 100px;
	}

	.menu-principal .navbar-right>li>a {
		padding: 15px 7px;
	}

	.menu-principal .navbar-right>li>a {
		padding: 3px 7px;
		margin: 10px 0px;
	}

	.menu-principal .sacolacompra .itens {
		padding: 5px;
		top: 18px;
		left: 23px;
		height: 1.5rem;
		min-width: 1.5rem;
		background: red;
		font-size: 10px;
	}

	.menu-principal .navbar-right>li.sacolacompra a {
		padding: 0px 10px;
		margin: 0px;
	}

	.menu-principal .navbar-right>li.sacolacompra a>i {
		font-size: 30px;
	}

	.menu-principal .navbar-right>li>a.separe {
		border-right: none;
	}

	.navbar-collapse {
		width: 84%;
		float: right;
	}

	.navbar-nav>li {
		float: left;
		padding: 5px 4px;
	}

	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 10px;
	}

	.nav>li>a {
		position: relative;
		display: block;
		padding: 5px 5px;
	}

	.navbar-brand {
		float: left;
		padding: 10px 0px;
		font-size: 15px;
		line-height: 17px;
	}

	.navbar-brand>img {
		max-height: 100%;
		height: 100%;
		width: auto;
		margin: 0px auto;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.brz .btn-vender.brz-btn {
		border: 0px solid rgba(229, 229, 229, 0);
		background-color: rgba(236, 76, 39, 1);
	}

	.brz .btn-vender .brz-btn--story-container {
		border: 0px solid rgba(229, 229, 229, 0);
	}

	.brz .btn-vender-main.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-vender-main.brz-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Montserrat, sans-serif;
		font-weight: 600;
		font-size: 10px;
		line-height: 1.8;
		letter-spacing: 3px;
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(35, 157, 219, 0);
		border-radius: 2px;
		background-image: none;
		padding: 11px 12px 11px 12px;
		flex-flow: row-reverse nowrap;
	}

	.brz .btn-vender-main .brz-btn--story-container {
		border: 2px solid rgba(35, 157, 219, 0);
		flex-flow: row-reverse nowrap;
		border-radius: 2px;
	}

	.brz .item-accordion {
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
		letter-spacing: 0px;
	}

	.brz .item-accordion .brz-accordion__item {
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
		color: rgba(115, 119, 127, 0.7);
		background-color: rgba(255, 255, 255, 1);
	}

	.brz .item-accordion .brz-accordion__item.brz-accordion__item--active {
		box-shadow: nullpx nullpx nullpx nullpx undefined;
		;
	}

	.brz .item-accordion .brz-accordion__nav--icon {
		font-size: 10.5px;
	}

	.brz .item-accordion .brz-accordion__item:not(:last-child) {
		margin-bottom: 3px
	}

	.brz .item-accordion .brz-accordion__content {
		padding: 0px 10px 0px 10px;
		margin-top: -2px
	}

	.brz .item-accordion .brz-accordion__filter-wrapper {
		justify-content: flex-start;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
		letter-spacing: 0px;
	}

	.brz .item-accordion .brz-accordion__filter {
		margin-bottom: 20px;
	}

	.brz .item-accordion .brz-accordion__filter__item {
		margin: 1px 3px 0 3px;
	}

	.brz .item-accordion .brz-accordion__filter__item {
		color: rgba(115, 119, 127, 0.7);
	}

	.brz .item-accordion .brz-accordion__filter__item--style-1 {
		padding: 10px;
		background-color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
	}

	.brz .item-accordion .brz-accordion__filter__item--style-1.brz-accordion__filter__item--active {
		background-color: transparent;
		box-shadow: nullpx nullpx nullpx nullpx undefined;
		;
	}

	.brz .item-accordion .brz-accordion__filter--style-2 {
		padding: 10px;
		background-color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
		display: inline-flex;
	}

	.brz .btn-selects-itens.brz-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Montserrat, sans-serif;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.8;
		letter-spacing: 3px;
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(35, 157, 219, 0);
		border-radius: 2px;
		background-color: rgba(35, 157, 219, 1);
		background-image: none;
		padding: 11px 26px 11px 26px;
		flex-flow: row-reverse nowrap;
	}

	.brz .btn-selects-itens .brz-btn--story-container {
		border: 2px solid rgba(35, 157, 219, 0);
		flex-flow: row-reverse nowrap;
		border-radius: 2px;
	}

	.brz .btn-selects-itens.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-select-item.brz-btn {
		font-weight: 600;
		font-size: 12px;
		color: rgba(25, 27, 33, 1);
		border: 2px solid rgba(115, 119, 127, 1);
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 1);
		padding: 11px 26px 11px 26px;
	}

	.brz .btn-select-item .brz-btn--story-container {
		border: 2px solid rgba(115, 119, 127, 1);
		border-radius: 6px;
	}

	.brz .hr-linha-separa {
		width: 100%;
	}

	.brz .hr-linha-separa .brz-hr {
		border-top: 2px solid rgba(115, 119, 127, 0.75);
	}

	.brz .btn-quero-vender {
		justify-content: center;
	}

	.brz .cab-tipo-coleta.brz-btn {
		font-size: 10px;
		border: 0px solid rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 1);
		padding: 11px 12px 11px 12px;
	}

	.brz .cab-tipo-coleta .brz-btn--story-container {
		border: 0px solid rgba(0, 0, 0, 0);
	}

	.brz .btn-form-send.brz-btn {
		border: 0px solid rgba(229, 229, 229, 0);
		background-color: rgba(236, 76, 39, 1);
	}

	.brz .btn-form-send .brz-btn--story-container {
		border: 0px solid rgba(229, 229, 229, 0);
	}

	.menu-principal nav {
		padding: 5px 5px;
	}

	.pd-5-10 {
		padding: 16% 10%;
	}

	.brz .item-accordion {
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
		letter-spacing: 0px;
	}

	.brz .item-accordion .brz-accordion__item {
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
		color: rgba(115, 119, 127, 0.7);
		background-color: rgba(255, 255, 255, 1);
	}

	.brz .item-accordion .brz-accordion__item.brz-accordion__item--active {
		box-shadow: nullpx nullpx nullpx nullpx undefined;
		;
	}

	.brz .item-accordion .brz-accordion__nav--icon {
		font-size: 10.5px;
	}

	.brz .item-accordion .brz-accordion__item:not(:last-child) {
		margin-bottom: 3px
	}

	.brz .item-accordion .brz-accordion__content {
		padding: 0px 10px 0px 10px;
		margin-top: -2px
	}

	.brz .item-accordion .brz-accordion__filter-wrapper {
		justify-content: flex-start;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
		letter-spacing: 0px;
	}

	.brz .item-accordion .brz-accordion__filter {
		margin-bottom: 20px;
	}

	.brz .item-accordion .brz-accordion__filter__item {
		margin: 1px 3px 0 3px;
	}

	.brz .item-accordion .brz-accordion__filter__item {
		color: rgba(115, 119, 127, 0.7);
	}

	.brz .item-accordion .brz-accordion__filter__item--style-1 {
		padding: 10px;
		background-color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
	}

	.brz .item-accordion .brz-accordion__filter__item--style-1.brz-accordion__filter__item--active {
		background-color: transparent;
		box-shadow: nullpx nullpx nullpx nullpx undefined;
		;
	}

	.brz .item-accordion .brz-accordion__filter--style-2 {
		padding: 10px;
		background-color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
		display: inline-flex;
	}

	.brz .btn-selects-itens.brz-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Montserrat, sans-serif;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.8;
		letter-spacing: 3px;
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(35, 157, 219, 0);
		border-radius: 2px;
		background-color: rgba(35, 157, 219, 1);
		background-image: none;
		padding: 11px 26px 11px 26px;
		flex-flow: row-reverse nowrap;
	}

	.brz .btn-selects-itens .brz-btn--story-container {
		border: 2px solid rgba(35, 157, 219, 0);
		flex-flow: row-reverse nowrap;
		border-radius: 2px;
	}

	.brz .btn-selects-itens.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-select-item.brz-btn {
		font-weight: 600;
		font-size: 10px;
		color: rgba(25, 27, 33, 1);
		border: 2px solid rgba(115, 119, 127, 1);
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 1);
		padding: 10px 20px;
	}

	.brz .btn-select-item .brz-btn--story-container {
		border: 2px solid rgba(115, 119, 127, 1);
		border-radius: 6px;
	}

	.brz .hr-linha-separa {
		width: 100%;
	}

	.brz .hr-linha-separa .brz-hr {
		border-top: 2px solid rgba(115, 119, 127, 0.75);
	}

	.brz .btn-quero-vender {
		justify-content: center;
	}

	.brz .cab-tipo-coleta .brz-btn--story-container {
		border: 0px solid rgba(0, 0, 0, 0);
	}

	.brz .btn-vender-main .brz-btn--story-container {
		border: 2px solid rgba(35, 157, 219, 0);
		flex-flow: row-reverse nowrap;
		border-radius: 2px;
	}

	.brz .btn-vender-main.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-vender.brz-btn {
		border: 0px solid rgba(229, 229, 229, 0);
		background-color: rgba(236, 76, 39, 1);
	}

	.brz .btn-vender .brz-btn--story-container {
		border: 0px solid rgba(229, 229, 229, 0);
	}

	.brz .btn-form-send {
		font-size: 1rem;
	}

	.brz .btn-form-send.brz-btn {
		border: 0px solid rgba(229, 229, 229, 0);
		background-color: rgba(236, 76, 39, 1);
	}

	.brz .btn-form-send .brz-btn--story-container {
		border: 0px solid rgba(229, 229, 229, 0);
	}

	.brz .brz-tp-heading2 {
		font-size: 25px;
		font-weight: 700;
		letter-spacing: -0.5px;
		line-height: 1.3em;
	}

	.mt-10 {
		margin-top: 1%;
	}

	.mb-10 {
		margin-bottom: 1%;
	}

	.mt-20 {
		margin-top: 2%;
	}

	.mb-20 {
		margin-bottom: 2%;
	}

	.mt-30 {
		margin-top: 3%;
	}

	.mb-30 {
		margin-bottom: 3%;
	}

	.mt-40 {
		margin-top: 4%;
	}

	.mb-40 {
		margin-bottom: 4%;
	}

	.mt-70 {
		margin-top: 7%;
	}

	.mb-70 {
		margin-bottom: 7%;
	}

	.mt-80 {
		margin-top: 8%;
	}

	.mb-80 {
		margin-bottom: 8%;
	}

	.mt-90 {
		margin-top: 9%;
	}

	.mb-90 {
		margin-bottom: 9%;
	}

	.mb-100 {
		margin-bottom: 10%;
	}

	.mt-100 {
		margin-top: 10%;
	}

	.mr-15 {
		margin-right: 15px;
	}

	.ml-15 {
		margin-left: 15px;
	}

	.rodape-itens {
		margin: 20px 0px;
	}

	.rodape-itens a {
		font-size: 40px;
		color: rgba(236, 75, 39, 1);
	}

	.bg-gray {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.op-coleta {
		margin-bottom: 15px;
	}

	.info-rodape {
		margin-bottom: 30px;
	}
}

@media (max-width:767px) {

	.menu-principal nav {
		padding: 5px 5px;
	}

	.menu-principal .navbar-nav>li>a>img {
		width: 100px;
	}

	.menu-principal .navbar-right>li>a {
		padding: 15px 7px;
	}

	.menu-principal .navbar-right>li>a {
		padding: 3px 7px;
		margin: 10px 0px;
	}

	.menu-principal .sacolacompra .itens {
		padding: 5px;
		top: 18px;
		left: 23px;
		height: 1.5rem;
		min-width: 1.5rem;
		background: red;
		font-size: 10px;
	}

	.menu-principal .navbar-right>li.sacolacompra a {
		padding: 0px 10px;
		margin: 0px;
	}

	.menu-principal .navbar-right>li.sacolacompra a>i {
		font-size: 30px;
	}

	.menu-principal .navbar-right>li>a.separe {
		border-right: none;
	}

	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 10px;
	}

	.nav>li>a {
		position: relative;
		display: block;
		padding: 5px 5px;
	}

	.navbar-brand>img {
		max-height: 80%;
		height: 80%;
		width: auto;
		margin: 5px auto;
		-o-object-fit: contain;
		object-fit: contain;
	}

	.pd-5-10 {
		padding: 16% 10%;
	}

	.brz .item-accordion {
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
		letter-spacing: 0px;
	}

	.brz .item-accordion .brz-accordion__item {
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
		color: rgba(115, 119, 127, 0.7);
		background-color: rgba(255, 255, 255, 1);
	}

	.brz .item-accordion .brz-accordion__item.brz-accordion__item--active {
		box-shadow: nullpx nullpx nullpx nullpx undefined;
		;
	}

	.brz .item-accordion .brz-accordion__nav--icon {
		font-size: 10.5px;
	}

	.brz .item-accordion .brz-accordion__item:not(:last-child) {
		margin-bottom: 3px
	}

	.brz .item-accordion .brz-accordion__content {
		padding: 0px 10px 0px 10px;
		margin-top: -2px
	}

	.brz .item-accordion .brz-accordion__filter-wrapper {
		justify-content: flex-start;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
		letter-spacing: 0px;
	}

	.brz .item-accordion .brz-accordion__filter {
		margin-bottom: 20px;
	}

	.brz .item-accordion .brz-accordion__filter__item {
		margin: 1px 3px 0 3px;
	}

	.brz .item-accordion .brz-accordion__filter__item {
		color: rgba(115, 119, 127, 0.7);
	}

	.brz .item-accordion .brz-accordion__filter__item--style-1 {
		padding: 10px;
		background-color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
	}

	.brz .item-accordion .brz-accordion__filter__item--style-1.brz-accordion__filter__item--active {
		background-color: transparent;
		box-shadow: nullpx nullpx nullpx nullpx undefined;
		;
	}

	.brz .item-accordion .brz-accordion__filter--style-2 {
		padding: 10px;
		background-color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(220, 222, 225, 1);
		border-radius: 0;
		display: inline-flex;
	}

	.brz .btn-selects-itens.brz-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Montserrat, sans-serif;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.8;
		letter-spacing: 3px;
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(35, 157, 219, 0);
		border-radius: 2px;
		background-color: rgba(35, 157, 219, 1);
		background-image: none;
		padding: 11px 26px 11px 26px;
		flex-flow: row-reverse nowrap;
	}

	.brz .btn-selects-itens .brz-btn--story-container {
		border: 2px solid rgba(35, 157, 219, 0);
		flex-flow: row-reverse nowrap;
		border-radius: 2px;
	}

	.brz .btn-selects-itens.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-select-item.brz-btn {
		font-weight: 600;
		font-size: 10px;
		color: rgba(25, 27, 33, 1);
		border: 2px solid rgba(115, 119, 127, 1);
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 1);
		padding: 10px 20px;
	}

	.brz .btn-select-item .brz-btn--story-container {
		border: 2px solid rgba(115, 119, 127, 1);
		border-radius: 6px;
	}

	.brz .hr-linha-separa {
		width: 100%;
	}

	.brz .hr-linha-separa .brz-hr {
		border-top: 2px solid rgba(115, 119, 127, 0.75);
	}

	.brz .btn-quero-vender {
		justify-content: center;
	}

	.brz .cab-tipo-coleta.brz-btn {
		font-size: 10px;
		border: 0px solid rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 1);
		padding: 11px 12px 11px 12px;
	}

	.brz .cab-tipo-coleta .brz-btn--story-container {
		border: 0px solid rgba(0, 0, 0, 0);
	}

	.brz .btn-vender-main.brz-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Montserrat, sans-serif;
		font-weight: 600;
		font-size: 10px;
		line-height: 1.8;
		letter-spacing: 3px;
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(35, 157, 219, 0);
		border-radius: 2px;
		background-image: none;
		padding: 11px 12px 11px 12px;
		flex-flow: row-reverse nowrap;
	}

	.brz .btn-vender-main .brz-btn--story-container {
		border: 2px solid rgba(35, 157, 219, 0);
		flex-flow: row-reverse nowrap;
		border-radius: 2px;
	}

	.brz .btn-vender-main.brz-btn {
		transition-duration: 0.50s;
		transition-property: color, box-shadow, background, border-color;
	}

	.brz .btn-vender.brz-btn {
		border: 0px solid rgba(229, 229, 229, 0);
		background-color: rgba(236, 76, 39, 1);
	}

	.brz .btn-vender .brz-btn--story-container {
		border: 0px solid rgba(229, 229, 229, 0);
	}

	.brz .btn-form-send {
		font-size: 1rem;
	}

	.brz .btn-form-send.brz-btn {
		border: 0px solid rgba(229, 229, 229, 0);
		background-color: rgba(236, 76, 39, 1);
	}

	.brz .btn-form-send .brz-btn--story-container {
		border: 0px solid rgba(229, 229, 229, 0);
	}

	.brz .brz-tp-heading2 {
		font-size: 25px;
		font-weight: 700;
		letter-spacing: -0.5px;
		line-height: 1.3em;
	}

	.mt-10 {
		margin-top: 1%;
	}

	.mb-10 {
		margin-bottom: 1%;
	}

	.mt-20 {
		margin-top: 2%;
	}

	.mb-20 {
		margin-bottom: 2%;
	}

	.mt-30 {
		margin-top: 3%;
	}

	.mb-30 {
		margin-bottom: 3%;
	}

	.mt-40 {
		margin-top: 4%;
	}

	.mb-40 {
		margin-bottom: 4%;
	}

	.mt-70 {
		margin-top: 7%;
	}

	.mb-70 {
		margin-bottom: 7%;
	}

	.mr-15 {
		margin-right: 15px;
	}

	.ml-15 {
		margin-left: 15px;
	}

	.rodape-itens {
		margin: 20px 0px;
	}

	.rodape-itens a {
		font-size: 40px;
		color: rgba(236, 75, 39, 1);
	}

	.bg-gray {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.op-coleta {
		margin-bottom: 15px;
	}

	.info-rodape {
		margin-bottom: 30px;
	}
}
