<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-groups-bordered" id="form_tipo" role="form" method="post" action="<?= $urlaction ?>">
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Tipo do Aparelho</label>
                <div class="col-sm-5">
                    <select class="form-control slcttipo" id="tipo" name="tipo" data-verif="false" data-name="Tipo do Aparelho">
                        <option value="">Selecione o Tipo</option>
                    <?php foreach ($listatipos as $row) { ?>
                        <option value="<?= $row['TP_ID'] ?>" <?= (isset($acessorio) && $acessorio['TP_ID'] == $row['TP_ID']) ? 'selected' : ''?>><?= $row['TP_DESC'] ?></option>
                    <?php } ?>
                    </select>
                </div>
            </div> 
            <div class="form-group">
                <?php if (isset($acessorio)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $acessorio['ACS_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="control-label col-sm-2">Modelo do Aparelho</label>
                <div class="col-sm-5">
                    <select class="form-control slctmodelo" id="modelo" name="modelo" data-name="Modelo do Aparelho">
                        <option value="">Selecione o Modelo</option>
                    <?php foreach ($listamodelos as $row) { ?>
                        <option value="<?= $row['MOD_ID'] ?>" <?= (isset($acessorio) && $acessorio['MOD_ID'] == $row['MOD_ID']) ? 'selected' : ''?>><?= $row['MOD_DESC'] ?></option>
                    <?php } ?>
                    </select>
                </div>
            </div>    
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Descrição</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" maxlength="50"<?= isset($acessorio) ? 'value="' . $acessorio['ACS_DESC'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Valor Adicional</label>
                <div class="col-sm-2">
                    <input autocomplete="off" type="text" class="form-control valor" id="valadicional" name="valadicional" placeholder="Valor Adicional" data-name="Valor Adicional" maxlength="50"<?= isset($acessorio) ? 'value="' . number_format($acessorio['ACS_VAL_AD'], 2, ',', '.') . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-1">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>