<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-groups-bordered" id="form_tipo" role="form" method="post" action="<?= $urlaction ?>">
            <div class="form-group">
                <?php if (isset($modelo)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $modelo['MOD_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="control-label col-sm-2">Tipo de Aparelho</label>
                <div class="col-sm-5">
                    <select class="form-control" id="tipo" name="tipo" data-name="Tipo">
                    <?php foreach ($listatipos as $row) { ?>
                        <option value="<?= $row['TP_ID'] ?>" <?= (isset($modelo) && $modelo['TP_ID'] == $row['TP_ID']) ? 'selected' : ''?>><?= $row['TP_DESC'] ?></option>
                    <?php } ?>
                    </select>
                </div>
            </div>    
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Descrição</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" maxlength="50"<?= isset($modelo) ? 'value="' . $modelo['MOD_DESC'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Preço de Venda</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control valor" id="precovenda" name="precovenda" placeholder="Preço de Venda" data-name="Preço de Venda" maxlength="50"<?= isset($modelo) ? 'value="' . number_format($modelo['MOD_PRC_VENDA'], 2, ',', '.') . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Preço de Compra</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control valor" id="precocompra" name="precocompra" placeholder="Preço de Compra" data-name="Preço de Compra" maxlength="50"<?= isset($modelo) ? 'value="' . number_format($modelo['MOD_PRC_COMPRA'], 2, ',', '.') . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-1">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>