<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-groups-bordered" id="form_tipo" role="form" method="post" action="<?= $urlaction ?>">
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Tipo do Aparelho</label>
                <div class="col-sm-5">
                    <select class="form-control slcttipo" id="tipo" name="tipo" data-verif="false" data-name="Tipo do Aparelho">
                        <option value="">Selecione o Tipo</option>
                    <?php foreach ($listatipos as $row) { ?>
                        <option value="<?= $row['TP_ID'] ?>" <?= (isset($avaria) && $avaria['TP_ID'] == $row['TP_ID']) ? 'selected' : ''?>><?= $row['TP_DESC'] ?></option>
                    <?php } ?>
                    </select>
                </div>
            </div> 
            <div class="form-group">
                <?php if (isset($avaria)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $avaria['AVA_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="control-label col-sm-2">Modelo do Aparelho</label>
                <div class="col-sm-5">
                    <select class="form-control slctmodelo" id="modelo" name="modelo" data-name="Modelo do Aparelho">
                        <option value="">Selecione o Modelo</option>
                    <?php foreach ($listamodelos as $row) { ?>
                        <option value="<?= $row['MOD_ID'] ?>" <?= (isset($avaria) && $avaria['MOD_ID'] == $row['MOD_ID']) ? 'selected' : ''?>><?= $row['MOD_DESC'] ?></option>
                    <?php } ?>
                    </select>
                </div>
            </div>    
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Descrição</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" maxlength="50"<?= isset($avaria) ? 'value="' . $avaria['AVA_DESC'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Desconto</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control valor" id="desconto" name="desconto" placeholder="Desconto" data-name="Desconto" maxlength="50"<?= isset($avaria) ? 'value="' . number_format($avaria['AVA_VAL_DESC'], 2, ',', '.') . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Informação adicional</label>
                <div class="col-sm-2">
                    <select class="form-control" id="op_outro" name="op_outro" data-name="Informação adicional">
                        <option value="0" <?= (isset($avaria) && intval($avaria['AVA_OP_OUTRO']) == 0) ? 'selected' : ''?>>Não</option>
                        <option value="1" <?= (isset($avaria) && intval($avaria['AVA_OP_OUTRO']) == 1) ? 'selected' : ''?>>Sim</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-1">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>