<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-lojas" name="form-lojas" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>">
            <div class="form-group">
                <?php if (isset($loja)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $loja['LOJ_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="col-sm-2 control-label">Razão Social</label>
                <div class="col-sm-7">
                    <input autocomplete="off" type="text" class="form-control" id="razao_social" name="razao_social" placeholder="Razão Social" data-name="Razão Social" maxlength="150" <?= isset($loja) ? 'value="' . $loja['LOJ_RAZAO_SOCIAL'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-2 control-label">Endereço Completo</label>
                <div class="col-sm-7">
                    <textarea class="form-control" id="endereco_completo" name="endereco_completo" data-name="Endereço Completo" maxlength="400"><?= isset($loja) ? $loja['LOJ_ENDERECO_COMPL'] : '' ?></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-2 control-label">CEP</label>
                <div class="col-sm-2">
                    <input autocomplete="off" type="text" class="form-control" id="cep" name="cep" placeholder="CEP" data-name="CEP" maxlength="15"<?= isset($loja) ? 'value="' . $loja['LOJ_CEP'] . '"' : '' ?>>
                </div>
                <label for="senha" class="col-sm-1 control-label">Complemento</label>
                <div class="col-sm-4">
                    <input autocomplete="off" type="text" class="form-control maskCEP" id="complemento" name="complemento" placeholder="Complemento" data-name="Complemento" data-verif="false" maxlength="150"<?= isset($loja) ? 'value="' . $loja['LOJ_COMPLEMENTO'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-2 control-label">Telefone</label>
                <div class="col-sm-2">
                    <input autocomplete="off" type="text" class="form-control maskFone" id="telefone" name="telefone" placeholder="Telefone" data-name="Telefone" maxlength="15"<?= isset($loja) ? 'value="' . $loja['LOJ_TELEFONE'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Atendimento Semanal</label>
                <div class="col-sm-4">
                    <input autocomplete="off" type="text" id="atend_semana" name="atend_semana" class="form-control" placeholder="Atendimento Semanal" data-name="Atendimento Semanal" maxlength="100"<?= isset($loja) ? 'value="' . $loja['LOJ_ATENDIMENTO_SEM'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Atendimento Fim de Semana</label>
                <div class="col-sm-4">
                    <input autocomplete="off" type="text" id="atend_fim_semana" name="atend_fim_semana" class="form-control" placeholder="Atendimento Fim de Semana" data-verif="false" data-name="Atendimento Fim de Semana" maxlength="100"<?= isset($loja) ? 'value="' . $loja['LOJ_ATENDIMENTO_FS'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Atendimento Feriados</label>
                <div class="col-sm-4">
                    <input autocomplete="off" type="text" id="atend_feriado" name="atend_feriado" class="form-control" placeholder="Atendimento Feriados" data-name="Atendimento Feriados" data-verif="false" maxlength="100"<?= isset($loja) ? 'value="' . $loja['LOJ_ATENDIMENTO_FERIADO'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>