<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-groups-bordered" id="form_tipo" role="form" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
            <?php if (isset($tipo) && !empty($tipo['TP_IMAGEM'])) { ?>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-2">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="<?= SITE_URL . "/public_html/static/img/" . $tipo['TP_IMAGEM'] ?>" data-lightbox="example-set" class="single_image">
                            <img src="<?= SITE_URL . "/public_html/static/img/" . $tipo['TP_IMAGEM'] ?>" class="img-fluid img-thumbnail"/>
                        </a>
                    </div>
                </div>
            </div>
            <?php } ?>
            <div class="form-group">
                <label for="field-1" class="col-sm-2 control-label">Imagem</label>
                <div class="col-sm-5">
                    <input type="file" class="form-control file-foto" data-name="Imagem" name="imagem" id="imagem" accept="image/*" data-verif="false"/>*Tamanho: 200x200
                </div>
            </div>
            <div class="form-group">
                <?php if (isset($tipo)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $tipo['TP_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="control-label col-sm-2">Descrição</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" maxlength="50"<?= isset($tipo) ? 'value="' . $tipo['TP_DESC'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-1">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>