<div class="row">
    <div class="col-sm-7 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= SITE_URL . '/' . $controller . '/Avaria' ?>" class="btn btn-green btn-lg">Cadastrar Novo Avaria</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table class="table table-bordered table-striped datatable table-pages">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Modelo do Aparelho</th>
                        <th>Avaria</th>
                        <th>Valor de Desconto</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listaavarias as $row) { ?>
                        <tr>
                            <td class="id sorting_1">
                                <?= $row['AVA_ID'] ?>
                            </td>
                            <td class="sorting_1"><?= $row['MOD_DESC'] ?></td>
                            <td class="sorting_1"><?= $row['AVA_DESC'] ?></td>
                            <td class="sorting_1"><?= 'R$ '.number_format($row['AVA_VAL_DESC'], 2, ',', '.') ?></td>
                            <td class="acoes">
                                <a href="<?= SITE_URL . '/' . $controller . '/Avaria/' . $row['AVA_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_avaria" data-id="<?= $row['AVA_ID'] ?>" data-toggle="tooltip" data-placement="top" `title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
