<div class="container">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 text-danger">
            <img alt="Erro" src="<?php echo IMAGEM_URL; ?>/error.png" width="10%"/>
            <h2>Ocorreu um erro :/</h2>
            <?php if (isset($erro)): ?>
                <p><?php echo $erro; ?></p>
            <?php endif; ?>
            <p><a href="#" onClick="history.go(-1)" class="btn btn-danger btn-sm btn-icon">Voltar <i class="entypo-back-in-time"></i></a></p>
        </div>
    </div>
</div>