<div class="container">
    <form method="POST" action="<?=$urlaction?>" name="form_checkout" id="form_checkout" class="form-checkout">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12" id="escolha-finalizar">
                <div class="brz-wrapper blocks-checkout">
                    <div class="brz-rich-text">
                        <p class="brz-text-lg-justify brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-700 brz-fw-sm-im-700 brz-fw-xs-im-700 brz-lh-lg-1_3 brz-lh-sm-im-1_2 brz-lh-xs-im-1_2 brz-fs-lg-22 brz-fs-sm-im-21 brz-fs-xs-im-21">
                            <span class="color-black">Dados Pessoais</span>
                        </p>
                    </div>
                    <div class="brz-line hr-linha-separa">
                        <hr class="brz-hr">
                    </div>
                    <div class="brz-rich-text">
                        <p class="brz-fs-xs-im-15 brz-fs-sm-im-15 brz-fs-lg-15 brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-roboto brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7">
                            Solicitamos apenas as informações essenciais para a realização da compra
                        </p>
                    </div>
                    <div class="brz-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label for="email">E-mail</label>
                                <input type="text" name="email" class="email" data-name="E-mail" maxlength="150" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <label for="primeironome">Primeiro Nome</label>
                                <input type="text" name="primeironome" data-name="Primeiro Nome" maxlength="150" autocomplete="off" required/>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <label for="segundonome">Último Nome</label>
                                <input type="text" name="segundonome" data-name="Último Nome" maxlength="150" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <label for="cpf">CPF</label>
                                <input type="text" name="cpf" data-name="CPF" class="maskDoc validaCPF" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <label for="telefone">Telefone</label>
                                <input type="text" name="telefone" data-name="Telefone" class="maskFone" autocomplete="off" required/>
                            </div>
                        </div>
                        <input type="hidden" name="proposta" data-name="ID da Proposta" value="<?=$proposta['PROP_ID']?>"/>
                        <input type="hidden" name="opentrega" data-name="Opção de Entrega" value="<?=$proposta['OPCAO']?>"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12">
                <div class="brz-wrapper blocks-checkout">
                    <div class="brz-wrapper">
                        <div class="brz-rich-text">
                            <p class="brz-text-lg-justify brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-700 brz-fw-sm-im-700 brz-fw-xs-im-700 brz-lh-lg-1_3 brz-lh-sm-im-1_2 brz-lh-xs-im-1_2 brz-fs-lg-22 brz-fs-sm-im-21 brz-fs-xs-im-21">
                                <span class="color-black">Enviar aparelho (<?=$proposta['NOME_MEIO']?>)</span>
                            </p>
                        </div>
                    </div>
                    <div class="brz-line hr-linha-separa">
                        <hr class="brz-hr">
                    </div>
                    <div class="brz-wrapper">
                        <div class="brz-rich-text">
                            <p class="brz-fs-xs-im-15 brz-fs-sm-im-15 brz-fs-lg-15 brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-roboto brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-text-lg-justify">
                                <?php if(intval($proposta['OPCAO']) == 1){?>
                                Escolha uma das lojas credenciadas abaixo para efetuar a entrega do seu aparelho
                                <?php }else{?>
                                Selecione a sua cidade de origem logo abaixo.
                                Iremos coletar seu aparelho no seu endereço.
                                Essa coleta não terá custo e será feita por um motoboy de nossa total confiança.
                                Entraremos em contato para agendar a coleta.
                                <?php }?>
                            </p>
                        </div>
                    </div>
                    <?php if(intval($proposta['OPCAO']) == 1){?>
                    <div class="brz-line hr-linha-separa">
                        <hr class="brz-hr">
                    </div>
                    <div class="brz-wrapper">
                        <?php foreach($listalojas as $key=>$row){?>
                            <div class="brz-rich-text">
                                <div class="brz-row">
                                    <p class="brz-fs-lg-14"><h4><strong><?= $row['LOJ_RAZAO_SOCIAL']?></strong></h4></p>
                                </div>
                                <div class="brz-row">
                                    <p class="brz-fs-lg-14 pd-l-10"><?= $row['LOJ_ENDERECO_COMPL'].' '.(!empty($row['LOJ_COMPLEMENTO']) ? '('.$row['LOJ_COMPLEMENTO'].')' : '')?></p>
                                </div>
                                <div class="brz-row">
                                    <p class="brz-fs-lg-14 pd-l-10"><?= 'CEP: '.$row['LOJ_CEP']?></p>
                                </div>
                                <div class="brz-row">
                                    <p class="brz-fs-lg-14 pd-l-10"><?= !empty($row['LOJ_ATENDIMENTO_SEM']) ? '<strong>Atendimento Semanal:</strong> '.$row['LOJ_ATENDIMENTO_SEM'] : ''?></p>
                                </div>
                                <div class="brz-row">
                                    <p class="brz-fs-lg-14 pd-l-10"><?= !empty($row['LOJ_ATENDIMENTO_FS']) ? '<strong>Atendimento Fim de Semana:</strong> '.$row['LOJ_ATENDIMENTO_FS'] : ''?></p>
                                </div>
                                <div class="brz-row">
                                    <p class="brz-fs-lg-14 pd-l-10"><?= !empty($row['LOJ_ATENDIMENTO_FERIADO']) ? '<strong>Atendimento Feriados:</strong> '.$row['LOJ_ATENDIMENTO_FERIADO'] : ''?></p>
                                </div>
                                <div class="brz-row pd-t-10">
                                    <input type="radio" class="oploja" id="loja_<?=$key?>" name="info" data-name="ID da Loja" value="<?=$row['LOJ_ID']?>" <?= $key==0 ? 'checked' : ''?>><label class="oploja ml-15" for="loja_<?=$key?>"> Entregarei aqui</label><br>
                                </div>
                            </div>
                            <div class="brz-line hr-linha-separa">
                                <hr class="brz-hr">
                            </div>
                        <?php }?>
                    </div>
                    <?php }else{?>
                    <div class="brz-line hr-linha-separa">
                        <hr class="brz-hr">
                    </div>
                    <div class="brz-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label for="endereco">Endereço</label>
                                <input type="text" name="endereco" class="endereco" data-name="endereco" maxlength="150" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="numero">Número</label>
                                <input type="text" name="numero" data-name="Número" class="numbers" maxlength="150" autocomplete="off" required/>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <label for="complemento">Complemento</label>
                                <input type="text" name="complemento" data-name="Complemento" data-verif="false" maxlength="150" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <label for="bairro">Bairro</label>
                                <input type="text" name="bairro" data-name="Bairro" autocomplete="off" required/>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <label for="cep">CEP</label>
                                <input type="text" name="cep" data-name="CEP" class="maskCep" autocomplete="off" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-md-9 col-lg-9">
                                <label for="info">Cidade de Origem</label>
                                <select name="info" id="info"  data-name="Cidade de Origem" required>
                                    <option value="">Selecione sua cidade de origem</option>
                                    <?php foreach($listacidades as $key=>$row){?>
                                        <option value="<?=$row['ID']?>"><?=$row['CIDADE'].'-'.$row['UF']?></option>
                                    </div>
                                    <?php }?>
                                </select>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <label for="uf">UF</label>
                                <select name="uf" id="uf"  data-name="UF" required>
                                    <option value="RS">RS</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <?php }?>
                </div>
                <div class="brz-wrapper blocks-checkout">
                    <div class="brz-wrapper">
                        <div class="brz-rich-text">
                            <p class="brz-text-lg-justify brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-700 brz-fw-sm-im-700 brz-fw-xs-im-700 brz-lh-lg-1_3 brz-lh-sm-im-1_2 brz-lh-xs-im-1_2 brz-fs-lg-22 brz-fs-sm-im-21 brz-fs-xs-im-21">
                                <span class="color-black">Avaliação</span>
                            </p>
                        </div>
                    </div>
                    <div class="brz-line hr-linha-separa">
                        <hr class="brz-hr">
                    </div>
                    <div class="brz-wrapper">
                        <div class="brz-rich-text">
                            <p class="brz-fs-xs-im-15 brz-fs-sm-im-15 brz-fs-lg-15 brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-roboto brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-text-lg-left">
                                Faremos uma avaliação em loja do seu aparelho. Esse procedimento leva, no máximo, 10 minutos. Confirmando as condições do aparelho, solicitaremos a desvinculação do Apple ID e iCloud do aparelho.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12">
                <div class="brz-wrapper blocks-checkout">
                    <div class="brz-rich-text">
                        <p class="brz-text-lg-justify brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-700 brz-fw-sm-im-700 brz-fw-xs-im-700 brz-lh-lg-1_3 brz-lh-sm-im-1_2 brz-lh-xs-im-1_2 brz-fs-lg-22 brz-fs-sm-im-21 brz-fs-xs-im-21">
                            <span class="color-black">Pagamento</span>
                        </p>
                    </div>
                    <div class="brz-line hr-linha-separa">
                        <hr class="brz-hr">
                    </div>
                    <div class="brz-rich-text">
                        <p class="brz-fs-xs-im-15 brz-fs-sm-im-15 brz-fs-lg-15 brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-roboto brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-text-lg-justify">
                            <?php if(intval($proposta['OPCAO']) == 2){?>
                                Efetuaremos o pagamento via TED/PIX em até 1 dia útil
                            <?php }else{?>
                                Efetuaremos o pagamento em dinheiro ou via transferência bancária na hora.
                            <?php }?>
                        </p>
                    </div>
                    <div class="btn-quero-vender">
                        <button type="submit" name="submit" class="brz-a brz-btn btn-vender-main form_submit">FINALIZAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
