<div class="container">
   <?php if($pagina == 0){?>
      <div class="row">
         <div class="col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 bg-gray">
            <div class="brz-rich-text mt-70 mb-20">
               <p class="brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-fs-lg-20 brz-fs-sm-im-19 brz-fs-xs-im-19">
                  <span class="color-black"><?=$titulopagina_1?></span>
               </p>
            </div>
            <div class="brz-accordion item-accordion mb-70">
               <select class="selects-tela" id="select-tipos">
                  <option value=""></option>
                  <?php foreach($listatipos as $row){?>
                     <option class="link_tipo" value="<?=$urlaction?>/<?=$row['TP_APELIDO']?>"><?=$row['TP_DESC']?></option>
                  <?php }?>
               </select>
            </div>
         </div>
      </div>
   <?php }?>

   <?php if($pagina == 1){?>
      <div class="row">
         <div class="col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 bg-gray">
            <div class="brz-rich-text mt-70 mb-20">
               <p class="brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-fs-lg-20 brz-fs-sm-im-19 brz-fs-xs-im-19">
                  <span class="color-black"><?=$titulopagina_1?></span>
               </p>
            </div>
            <div class="brz-rich-text">
               <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-fs-lg-17 brz-fs-sm-im-16 brz-fs-xs-im-16">
                  <span class="color-black">Dispositivo</span>
               </p>
            </div>
            <div class="brz-accordion item-accordion">
               <div class="brz-accordion__item">
                  <div class="brz-accordion__nav_selected">
                     <span class="brz-span brz-text__editor"><?=$tiposelecionado?></span>
                  </div>
               </div>
            </div>
            <div class="brz-rich-text mt-10" id="escolha-modelo">
               <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-fs-lg-17 brz-fs-sm-im-16 brz-fs-xs-im-16">
                  <span class="color-black">Modelo</span>
               </p>
            </div>
            <div class="brz-accordion item-accordion mb-70">
               <select class="selects-tela" id="select-modelos">
                  <option value=""></option>
                     <?php foreach($listaaparelhos as $row){?>
                        <option value="<?=$urlaction?>/<?=$row['MOD_APELIDO']?>"><?=$row['MOD_DESC']?></option>
                     <?php }?>
               </select>
            </div>
         </div>
      </div>
   <?php }?>

   <?php if($pagina == 3){?>
      <div class="row">
         <div class="col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 bg-gray">
            <div class="brz-rich-text mt-70 mb-20">
               <p class="brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-fs-lg-20 brz-fs-sm-im-19 brz-fs-xs-im-19">
                  <span class="color-black"><?=$titulopagina_1?></span>
               </p>
            </div>
            <div class="brz-rich-text">
               <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-fs-lg-17 brz-fs-sm-im-16 brz-fs-xs-im-16">
                  <span class="color-black">Dispositivo</span>
               </p>
            </div>
            <div class="brz-accordion item-accordion">
               <div class="brz-accordion__item">
                  <div class="brz-accordion__nav_selected">
                     <span class="brz-span brz-text__editor"><?=$tiposelecionado?></span>
                  </div>
               </div>
            </div>
            <div class="brz-rich-text mt-10">
               <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-fs-lg-17 brz-fs-sm-im-16 brz-fs-xs-im-16">
                  <span class="color-black">Modelo</span>
               </p>
            </div>
            <div class="brz-accordion item-accordion">
               <div class="brz-accordion__item">
                  <div class="brz-accordion__nav_selected">
                     <span class="brz-span brz-text__editor"><?=$modeloselecionado?></span>
                  </div>
               </div>
            </div>
            <div class="brz-rich-text mt-10 mb-10" id="escolha-capacidade">
               <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-fs-lg-17 brz-fs-sm-im-16 brz-fs-xs-im-16">
                  <span class="color-black">Capacidades</span>
               </p>
            </div>
            <div class="brz-wrapper-clone mb-70">
               <div class="brz-d-xs-flex brz-flex-xs-wrap">
               <?php foreach($listacapacidades as $row){?>
                  <div class="brz-wrapper-clone__item pd-3">
                     <a class="brz-a brz-anchor brz-btn btn-selects-itens btn-select-item" href="<?=$urlaction?>/<?=$row['CAP_APELIDO']?>" data-brz-link-type="anchor">
                        <span class="brz-span brz-text__editor"><?=$row['CAP_DESC']?></span>
                     </a>
                  </div>
               <?php }?>
               </div>
            </div>
         </div>
      </div>
   <?php }?>

   <?php if($pagina == 5){?>
      <form method="POST" action="<?=$urlaction?>">
         <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 bg-gray">
               <div class="brz-rich-text mt-70 mb-20 text-center">
                  <p class="brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-fs-lg-20 brz-fs-sm-im-19 brz-fs-xs-im-19">
                     <span class="color-black"><?=$titulopagina_1?></span>
                  </p>
               </div>
               <div class="brz-rich-text mb-20" id="escolha-avarias">
                  <p class="brz-fs-xs-im-17 brz-fs-sm-im-17 brz-fs-lg-18 brz-lh-xs-im-1_4 brz-lh-sm-im-1_4 brz-lh-lg-1_5 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-text-lg-center">
                     <span class="color-black"><?= $titulopagina_2?></span>
                  </p>
               </div>
               <?php foreach($listaavarias as $row){?>
               <div class="brz-rich-text mb-20">
                  <p class="brz-fs-xs-im-17 brz-fs-sm-im-17 brz-fs-lg-18 brz-lh-xs-im-1_4 brz-lh-sm-im-1_4 brz-lh-lg-1_5 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-text-lg-center">
                     <span class="color-gray"><?=$row['AVA_DESC']?></span>
                  </p>
               </div>
               <div class="brz-row pd-lr-20 opcoes">
                  <input name="avarias[]" value="" type="hidden"/>
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                     <div class="brz-column__items">
                        <div class="brz-icon__container brz-icon-text op-check">
                           <input class="input-checkbox-nav opavaria" name="opavaria_<?=$row['AVA_ID']?>" value="<?=$row['AVA_ID']?>" type="radio"/>
                           <div class="brz-text-btn">
                              <div class="brz-rich-text pd-5-10">
                                 <p class="brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-fs-lg-18 brz-fs-sm-im-17 brz-fs-xs-im-17">
                                    <span class="color-black">Sim </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                     <div class="brz-column__items">
                        <div class="brz-icon__container brz-icon-text op-check">
                           <input class="input-checkbox-nav opavaria" name="opavaria_<?=$row['AVA_ID']?>" value="" type="radio"/>
                           <div class="brz-text-btn">
                              <div class="brz-rich-text pd-5-10">
                                 <p class="brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-fs-lg-18 brz-fs-sm-im-17 brz-fs-xs-im-17">
                                    <span class="color-black">Não </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <?php if(intval($row['AVA_OP_OUTRO']) > 0){?>
               <div class="brz-row pd-lr-20 mt-30">
                  <input type="text" name="infoadicional[]" class="input-especifco" placeholder="Especifique o problema"/>
               </div>
               <?php }?>
               <div class="brz-line hr-linha-separa">
                  <hr class="brz-hr">
               </div>
               <?php }?>
               <div class="brz-row mb-70 mt-70 btn-form">
                  <input type="submit" class="brz brz-btn btn-form-send" value="CONTINUAR"/>
               </div>
            </div>
         </div>
      </form>
   <?php }?>

   <?php if($pagina == 6){?>
      <div class="row" id="escolha-coleta">

      <?php
         if(count($listacoletas) == 2){
            $tamanhos = 'col-sm-4 col-md-4 col-lg-4 col-xs-12';
            $offset = 2;
         }else{
            $tamanhos = 'col-sm-4 col-md-4 col-lg-4 col-xs-12';
            $offset = 0;
         }
      ?>
      <?php foreach($listacoletas as $key=>$row){?>
         <div class="<?=$tamanhos?> <?= $key==0 ? 'col-sm-offset-'.$offset.' col-md-offset-'.$offset.' col-lg-offset-'.$offset : ''?> mb-100">
            <form method="POST" action="<?=$urlaction?>">
               <input type="hidden" name="tipo" value="<?=$infoproposta['tipo']?>"/>
               <input type="hidden" name="modelo" value="<?=$infoproposta['modelo']?>"/>
               <input type="hidden" name="rede" value="<?=$infoproposta['rede']?>"/>
               <input type="hidden" name="capacidade" value="<?=$infoproposta['capacidade']?>"/>
               <input type="hidden" name="acessorios" value="<?=$infoproposta['acessorios']?>"/>
               <input type="hidden" name="avarias" value="<?=$infoproposta['avarias']?>"/>
               <input type="hidden" name="infoadicional" value="<?=$infoproposta['infoadicional']?>"/>
               <input type="hidden" name="coleta" value="<?=$row['CLT_ID']?>"/>

               <div class="op-coleta">
                  <div>
                     <a class="brz-a brz-btn btn-vender-main cab-tipo-coleta" href data-brz-link-type="external">
                        <span class="brz-span brz-text__editor"><?=$row['CLT_DESC']?></span>
                     </a>
                  </div>
                  <div class="brz-rich-text mt-20">
                     <p class="brz-text-lg-center brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-700 brz-fw-sm-im-700 brz-fw-xs-im-700 brz-lh-lg-1_3 brz-lh-sm-im-1_2 brz-lh-xs-im-1_2 brz-fs-lg-22 brz-fs-sm-im-21 brz-fs-xs-im-21">
                        <span class="color-black"><?=$dadosaparelho['O_MOD_DESC'].' - '.$dadosaparelho['O_CAP_DESC']?></span>
                     </p>
                  </div>
                  <div class="brz-line hr-linha-separa">
                     <hr class="brz-hr">
                  </div>
                  <div class="brz-rich-text">
                     <p class="brz-text-lg-center brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-fs-lg-16 brz-fs-sm-im-15 brz-fs-xs-im-15">
                        Preço de compra <span class="color-black"> R$ <?=number_format($dadosaparelho['O_VAL_COMPRA'], 2, ',', '.');?></span>
                     </p>
                  </div>
                  <div class="brz-rich-text">
                  <?php if(!empty($listaavarias) || !empty($infoproposta['capacidadevalad'])){?>
                     <div class="row info">
                        <?php if(!empty($infoproposta['capacidadevalad'])){?>
                        <div class="item">
                           <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">Adicional por capacidade</div>
                           <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-right"><?=' +R$ '.number_format($infoproposta['capacidadevalad'], 2, ',', '.');?></div>
                        </div>
                        <?php }?>
                        <?php if(!empty($listaavarias)){?>
                           <?php foreach($listaavarias as $key=>$row2){?>
                        <div class="item">
                           <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8"><?=$row2['AVA_DESC']?></div>
                           <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-right"><?=' -R$ '.number_format($row2['AVA_VAL_DESC'], 2, ',', '.');?></div>
                        </div>
                           <?php }?>
                        <?php }?>
                     </div>
                  <?php }?>
                  </div>
                  <?php if(intval($dadosaparelho['O_MINIMO']) > 0){?>
                  <div class="brz-rich-text">
                     <div class="infominimo">
                        <p>Ops, o valor de desconto é maior que nosso preço de compra. Nestes casos oferecemos um preço de compra mínimo.</p>
                     </div>
                  </div>
                  <?php }?>
                  <div class="brz-line hr-linha-separa">
                     <hr class="brz-hr">
                  </div>
                  <?php if(false){?>
                  <div class="brz-rich-text">
                     <p class="brz-fs-xs-im-15 brz-fs-sm-im-15 brz-fs-lg-16 brz-text-lg-center brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500">
                        <span class="color-black">SUBTOTAL  R$ <?=number_format($dadosaparelho['O_SUB_TOTAL'], 2, ',', '.');?></span>
                     </p>
                  </div>
                  <div class="brz-line hr-linha-separa">
                     <hr class="brz-hr">
                  </div>
                  <?php }?>
                  <?php
                     $valpag = $dadosaparelho['O_SUB_TOTAL']-$row['CLT_VAL_DESC'];
                  ?>
                  <div class="brz-rich-text">
                     <p class="brz-fw-xs-im-700 brz-fw-sm-im-700 brz-fw-lg-700 brz-ft-google brz-ff-roboto brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-text-lg-center brz-fs-lg-16 brz-fs-sm-im-15 brz-fs-xs-im-15">
                        <span class="color-black">VALOR QUE PAGAMOS R$ <?=number_format($valpag, 2, ',', '.');?></span>
                     </p>
                  </div>
                  <input type="hidden" name="valproposta" value="<?=$valpag?>"/>
                  <div class="btn-quero-vender">
                     <button type="submit" class="brz brz-btn btn-vender-main btn-vender"> QUERO VENDER</button>
                  </div>
               </div>
            </form>
         </div>
         <?php }?>
      </div>
   <?php }?>

   <?php if($pagina == 11){?>

   <?php }?>
</div>
