<div class="row">
    <div class="col-sm-12">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table id="table-relatorios" class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Login</th>
                        <th>Perfil</th>
                        <th>Token</th>
                        <th>Data de Início</th>
                        <th>Data de Expiração</th>
                        <th>E-mail</th>
                        <th>Gênero</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listusuarios as $row) { ?>
                        <tr>
                            <td><?= $row['US_ID'] ?></td>
                            <td><?= $row['US_LOGIN'] ?></td>
                            <td><?= $row['PER_NOME'] ?></td>
                            <td><?= $row['TOKEN'] ?></td>
                            <td><?= $row['DT_CAD'] ?></td>
                            <td><?= $row['DT_EXP'] ?></td>
                            <td><?= $row['EMAIL'] ?></td>
                            <td><?= $row['GENERO'] ?></td>
                            <td><?= $row['TELEFONE'] ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>