<div class="row">
    <div class="col-sm-12">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table id="table-relatorios" class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th style="width: 30px"> </th>
                        <th>Código</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Modelo</th>
                        <th>Capacidade</th>
                        <th>Avarias</th>
                        <th>Valor Venda</th>
                        <th>Solicitante</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listapropostas as $row) { ?>
                        <tr>
                            <td class="sorting_1"><?= $row['VEN_ID'] ?></td>
                            <td class="sorting_1"><?= $row['VEN_TOKEN'] ?></td>
                            <td class="sorting_1"><?= $row['VEN_DATA_CAD'] ?></td>
                            <td class="sorting_1"><?= $row['TP_DESC'] ?></td>
                            <td class="sorting_1"><?= $row['MOD_DESC'] ?></td>
                            <td class="sorting_1"><?= $row['CAP_DESC'] ?></td>
                            <td class="sorting_1"><?= $row['AVARIAS'] ?></td>
                            <td class="sorting_1"><?= 'R$ ' . number_format($row['PROP_VAL_PROPOSTA'], 2, ',', '.') ?></td>
                            <td class="sorting_1"><?= $row['VEN_NOME_COMPLETO'] ?></td>
                            <td class="sorting_1"><?= intval($row['PROP_STATUS']) == 1 ? 'Concluído' : 'Em Aberto' ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
