<div class="row">
    <div class="col-sm-12">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table id="table-relatorios" class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listacessos as $key=>$row) { ?>
                        <tr>
                            <td><?= ($key+1)?></td>
                            <td><?= $row['VEN_NOME_COMPLETO'] ?></td>
                            <td><?= $row['VEN_EMAIL'] ?></td>
                            <td><?= $row['VEN_CIDADE'] ?></td>
                            <td><?= $row['VEN_ESTADO'] ?></td>
                            <td><?= $row['VEN_DATA_CAD'] ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>