<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-meios-entregas" name="form-meios-entregas" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
            <div class="form-group">
                <?php if (isset($coleta)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $coleta['CLT_ID'] ?>" />
                <?php } ?>
                <label class="col-sm-3 control-label">Descrição</label>
                <div class="col-sm-5">
                    <textarea id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" class="form-control"><?= isset($coleta) ? $coleta['CLT_DESC'] : '' ?></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-5">
                    <select class="form-control" id="status" name="status" data-name="Status">
                        <option value="0" <?= isset($coleta) ? (intval($coleta['CLT_STATUS']) == 0 ? 'selected="selected"' : '') : '' ?>>Inativo</option>
                        <option value="1" <?= isset($coleta) ? (intval($coleta['CLT_STATUS']) == 1 ? 'selected="selected"' : '') : '' ?>>Ativo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Valor Cobrado</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control valor" id="valor_cobrado" name="valor_cobrado" placeholder="Valor Cobrado" data-name="Valor Cobrado" data-verif="false" maxlength="120" <?= isset($coleta) ? 'value="' . number_format($coleta['CLT_VAL_DESC'], 2, ',', '.') . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Modelo de Entrega</label>
                <div class="col-sm-5">
                    <select class="form-control" id="modelo_entrega" name="modelo_entrega" data-name="Modelo de Entrega">
                        <option value="">Selecione</option>
                        <?php foreach($listameios as $key=>$row){?>
                            <option value="<?=$row['MEIO_ID']?>" <?= $coleta['MEIO_ID'] == $row['MEIO_ID'] ? 'selected' : ''?>><?=$row['NOME_MEIO']?></option>
                        <?php }?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
