<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-meios-entregas" name="form-meios-entregas" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
            <?php if (isset($meioentrega) && !empty($meioentrega['IMAGEM'])) { ?>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-3">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <a href="<?= SITE_URL . "/public_html/static/img/" . $meioentrega['IMAGEM'] ?>" data-lightbox="example-set" class="single_image">
                                <img src="<?= SITE_URL . "/public_html/static/img/" . $meioentrega['IMAGEM'] ?>" class="img-fluid img-thumbnail-n" />
                            </a>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Imagem</label>
                <div class="col-sm-5">
                    <input type="file" class="form-control file-foto" data-name="Imagem" name="foto" id="foto" accept="image/*" data-verif="false" />*Tamanho: 250x200
                </div>
            </div>
            <div class="form-group">
                <?php if (isset($meioentrega)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $meioentrega['MEIO_ID'] ?>" />
                <?php } ?>
                <label for="field-1" class="col-sm-3 control-label">Título</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="nome" name="nome" placeholder="Título" data-name="Nome do Meio de Entrega" maxlength="120" <?= isset($meioentrega) ? 'value="' . $meioentrega['NOME_MEIO'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-5">
                    <select class="form-control" id="status" name="status" data-name="Status">
                        <option value="0" <?= isset($meioentrega) ? intval($meioentrega['ME_STATUS']) == 0 ? 'selected="selected"' : '' : '' ?>>Inativo</option>
                        <option value="1" <?= isset($meioentrega) ? intval($meioentrega['ME_STATUS']) == 1 ? 'selected="selected"' : '' : '' ?>>Ativo</option>
                    </select>
                </div>
            </div>
            <?php if(false){?>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Código de Serviço</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control numbers" id="codigo_entrega" name="codigo_entrega" placeholder="Código de Serviço" data-name="Código do Tipo de Entrega" data-verif="false" maxlength="120" <?= isset($meioentrega) ? 'value="' . $meioentrega['CODIGO_MEIO'] . '"' : '' ?>>
                </div>
                <div class="col-sm-4">
                    <div>SEDEX = 04014</div>
                    <div>PAC = 04510</div>
                    <div>OUTRO = DEIXE VAZIO</div>
                </div>
            </div>
            <?php }?>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Calcular Frete?</label>
                <div class="col-sm-5">
                    <select class="form-control" id="cal_frete" name="cal_frete" data-name="Calcular Frete?" data-verif="false">
                        <option value="1" <?= isset($meioentrega) && intval($meioentrega['CALC_FRETE']) == 1 ? 'selected="selected"' : '' ?>>Sim</option>
                        <option value="0" <?= isset($meioentrega) && intval($meioentrega['CALC_FRETE']) == 0 ? 'selected="selected"' : '' ?>>Não</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Empresa Responsável</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="empresa_responsavel" name="empresa_responsavel" placeholder="Empresa Responsável" data-name="Empresa Responsável" data-verif="false" maxlength="120" <?= isset($meioentrega) ? 'value="' . $meioentrega['EMPRESA'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Valor Cobrado</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control valor" id="valor_cobrado" name="valor_cobrado" placeholder="Valor Cobrado" data-name="Valor Cobrado" data-verif="false" maxlength="120" <?= isset($meioentrega) ? 'value="' . number_format($meioentrega['VALOR_COBRADO'], 2, ',', '.') . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Prazo Máximo (Dias)</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control numbers" id="prazo_maximo" name="prazo_maximo" placeholder="Prazo Máximo (Dias)" data-name="Prazo Máximo (Dias)" data-verif="false" maxlength="120" <?= isset($meioentrega) ? 'value="' . $meioentrega['PRAZO_MAXIMO'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Descrição</label>
                <div class="col-sm-5">
                    <textarea id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" class="form-control"><?= isset($meioentrega) ? $meioentrega['DESCRICAO_MEIO'] : '' ?></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Restringir Abrangência</label>
                <div class="col-sm-5">
                    <select class="form-control" id="restricao" name="restricao" data-name="Restringir Abrangencia" data-verif="false">
                        <option value="1" <?= isset($meioentrega) && intval($meioentrega['RESTRICAO_ABRANG']) == 1 ? 'selected="selected"' : '' ?>>Sim</option>
                        <option value="0" <?= isset($meioentrega) && intval($meioentrega['RESTRICAO_ABRANG']) == 0 ? 'selected="selected"' : '' ?>>Não</option>
                    </select>
                </div>
            </div>
            <div class="form-group area_abrang <?= isset($meioentrega) && intval($meioentrega['RESTRICAO_ABRANG']) == 0 ? 'disabled' : '' ?>">
                <label for="field-1" class="col-sm-3 control-label">Selecione o estado</label>
                <div class="col-sm-9 form-group form-cd">
                    <label class="col-sm-1 control-label">UF</label>
                    <div class="col-sm-2">
                        <select id="uf_abr" name="uf_abr" class="form-control" data-verif="false" <?= isset($meioentrega) && intval($meioentrega['RESTRICAO_ABRANG']) == 0 ? 'disabled' : '' ?>>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Cidade</label>
                    <div class="col-sm-4">
                        <input list="data-cidades" autocomplete="off" type="text" class="form-control" id="cidade_abr" name="cidade_abr" placeholder="Cidade" data-verif="false" maxlength="120" <?= isset($meioentrega) && intval($meioentrega['RESTRICAO_ABRANG']) == 0 ? 'disabled' : '' ?> />
                        <datalist id="data-cidades"></datalist>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" id="btn_inserir_cidade" class="btn btn-success" <?= isset($meioentrega) && intval($meioentrega['RESTRICAO_ABRANG']) == 0 ? 'disabled' : '' ?>>Inserir</button>
                    </div>
                </div>
            </div>
            <div class="form-group area_abrang <?= isset($meioentrega) && intval($meioentrega['RESTRICAO_ABRANG']) == 0 ? 'disabled' : '' ?>">
                <label for="field-1" class="col-sm-3 control-label">Cidades Atendidas</label>
                <div class="col-sm-6">
                    <table class="table table-responsive" id="tb-cidades">
                        <thead>
                            <tr>
                                <th>Cidade</th>
                                <th>UF</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (isset($meioentrega)) { ?>
                                <?php if (count($listacidades) > 0) { ?>
                                    <?php foreach ($listacidades as $row) { ?>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="cidade[]" value="<?= $row['CIDADE'] ?>" data-verif="false" />
                                                <input type="hidden" name="estado[]" value="<?= $row['UF'] ?>" data-verif="false" /><?= $row['CIDADE'] ?></td>
                                            <td><?= $row['UF'] ?></td>
                                            <td>
                                                <a href="#" class="btn btn-xs btn-danger rem_cidade"><i class="entypo-trash"></i></a>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                <?php } ?>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
