<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-usuarios" name="form-usuarios" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
            <?php if (isset($usuario) && !empty($usuario['US_IMAGEM'])) { ?>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-2">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <a href="<?= SITE_URL . "/public_html/static/img/fotosusuarios/" . $usuario['US_IMAGEM'] ?>" data-lightbox="example-set" class="single_image">
                                <img src="<?= SITE_URL . "/public_html/static/img/fotosusuarios/" . $usuario['US_IMAGEM'] ?>" class="img-fluid img-thumbnail"/>
                            </a>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="form-group">
                <label for="field-1" class="col-sm-2 control-label">Foto</label>
                <div class="col-sm-7">
                    <input type="file" class="form-control file-foto" data-name="Foto" name="foto" id="foto" accept="image/*" data-verif="false"/>*Tamanho: 200x200
                </div>
            </div>
            <div class="form-group">
                <?php if (isset($usuario)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $usuario['US_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="col-sm-2 control-label">Nome Completo</label>
                <div class="col-sm-7">
                    <input autocomplete="off" type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" data-name="Nome Completo" maxlength="120" <?= isset($usuario) ? 'value="' . $usuario['NOME_COMPLETO'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-2 control-label">Perfil</label>
                <div class="col-sm-3">
                    <select class="form-control" id="perfil" name="perfil" data-name="Perfil">
                        <?php if (isset($usuario)) { ?>
                            <?php if ($usuario['US_ID'] == $usuariologado['US_ID']) { ?>
                                <option value="<?= $usuario['PER_ID'] ?>" selected="selected"><?= $usuario['PER_DESC'] ?></option>
                            <?php } else { ?>
                                <option value="">Selecione</option>
                                <?php foreach ($listaperfis as $perfil) { ?>
                                    <?php if (isset($usuario)) { ?>
                                        <option value="<?= $perfil['PER_ID'] ?>"<?= ($perfil['PER_ID'] == $usuario['PER_ID']) ? 'selected' : '' ?>><?= $perfil['PER_DESC'] ?></option>
                                    <?php } else { ?>
                                        <option value="<?= $perfil['PER_ID'] ?>"><?= $perfil['PER_DESC'] ?></option>
                                    <?php } ?>
                                <?php } ?>
                            <?php } ?>
                        <?php } else { ?>
                        <?php foreach ($listaperfis as $perfil) { ?>
                                <option value="<?= $perfil['PER_ID'] ?>"><?= $perfil['PER_DESC'] ?></option>
                        <?php } ?>
                        <?php } ?>
                    </select>
                </div>
                <label class="col-sm-1 control-label">Login</label>
                <div class="col-sm-3">
                    <div class="input-group minimal">
                        <span class="input-group-addon"><i class="entypo-user"></i></span>
                        <?php if ($logado['US_ID'] == $usuariologado['US_ID']) { ?>
                        <input type="text" class="form-control" placeholder="Login" data-verif="false" <?= isset($usuario) ? 'value="' . $usuario['US_LOGIN'] . '"' : '' ?> disabled>
                        <input type="hidden" id="login" name="login" data-name="Login" maxlength="12" <?= isset($usuario) ? 'value="' . $usuario['US_LOGIN'] . '"' : '' ?>>
                        <?php }else{?>
                        <input autocomplete="off" type="text" id="login" name="login" class="form-control" placeholder="Login" data-name="Login" maxlength="12" <?= isset($usuario) ? 'value="' . $usuario['US_LOGIN'] . '"' : '' ?>>
                        <?php }?>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-2 control-label">Sexo</label>
                <div class="col-sm-3">
                    <div class="input-group minimal">
                        <span class="input-group-addon"><i class="entypo-users"></i></span>
                        <select class="form-control" id="genero" name="genero" data-name="Sexo">
                            <option value="">Selecione</option>
                            <?php if (isset($usuario)) { ?>
                                <option value="1" <?= ($usuario['GENERO'] == 1) ? 'selected' : '' ?>>Masculino</option>
                                <option value="2" <?= ($usuario['GENERO'] == 2) ? 'selected' : '' ?>>Feminino</option>
                            <?php } else { ?>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <label for="senha" class="col-sm-1 control-label">Telefone</label>
                <div class="col-sm-3">
                    <div class="input-group minimal">
                        <span class="input-group-addon"><i class="entypo-phone"></i></span>
                        <input autocomplete="off" type="text" class="form-control maskFone" id="telefone" name="telefone" placeholder="Telefone" data-name="Telefone" maxlength="15"<?= isset($usuario) ? 'value="' . $usuario['TELEFONE'] . '"' : '' ?>>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-4">
                    <div class="input-group minimal">
                        <span class="input-group-addon"><i class="entypo-mail"></i></span>
                        <input autocomplete="off" type="text" id="email" name="email" class="form-control" placeholder="E-mail" data-name="E-mail" maxlength="100"<?= isset($usuario) ? 'value="' . $usuario['EMAIL'] . '"' : '' ?>>
                    </div>
                </div>
                <?php if (isset($usuario)) { ?>
                    <label for="field-1" class="col-sm-1 control-label">Status</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="status" name="status" data-name="Status">
                            <?php if ($logado['US_ID'] == $usuariologado['US_ID']) { ?>
                            <option value="<?= $usuario['US_STATUS'];?>" selected><?= ($usuario['US_STATUS'] == '1') ? 'Ativo' : 'Inativo' ?></option>
                            <?php }else{?>
                            <option value="">Selecione</option>
                            <option value="1" <?= ($usuario['US_STATUS'] == '1') ? 'selected' : '' ?>>Ativo</option>
                            <option value="2" <?= ($usuario['US_STATUS'] == '2') ? 'selected' : '' ?>>Inativo</option>
                            <?php }?>
                        </select>
                    </div>
                <?php } ?>
            </div>
            <?php if (isset($usuario)) { ?>
            <div class="form-group">
                <label class="col-sm-2 control-label">Senha</label>
                <div class="col-sm-2">
                    <div class="input-group minimal">
                        <span class="input-group-addon"><i class="entypo-key"></i></span>
                        <input autocomplete="off" type="password" id="senha" name="senha" class="form-control camposenha" placeholder="Senha" data-verif="false" data-name="Senha" maxlength="8">
                    </div>
                </div>
                <label for="field-1" class="col-sm-1 control-label">Confirmar</label>
                <div class="col-sm-2">
                    <div class="input-group minimal">
                        <span class="input-group-addon"><i class="entypo-key"></i></span>
                        <input autocomplete="off" type="password" id="confsenha" name="confsenha" class="form-control camposenha" placeholder="Confirmar" data-verif="false" data-name="Confirmar" maxlength="8">
                    </div>
                </div>
            </div>
            <?php }?>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
