<div class="row">
    <div class="col-sm-8 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="info-config">
            <ul class="nav nav-tabs">
                <li class="<?= $tabativa == 1 ? 'active' : '' ?>">
                    <a href="#1" data-toggle="tab">Informações de Contato</a>
                </li>
                <li class="<?= $tabativa == 3 ? 'active' : '' ?>">
                    <a href="#3" data-toggle="tab">Configuração SMTP</a>
                </li>
                <li class="<?= $tabativa == 4 ? 'active' : '' ?>">
                    <a href="#4" data-toggle="tab">Logotipos</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane <?= $tabativa == 1 ? 'active' : '' ?>" id="1">
                    <div class="row">
                        <div class="col-sm-12 area_endereco">
                            <form class="form-horizontal form-groups-bordered" id="form_contato" role="form" method="post" action="<?= $urlactioncontato ?>">
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-1">CEP</label>
                                    <div class="col-sm-2">
                                        <input type="text" autocomplete="false" class="form-control maskCep ecep" id="cep" name="cep" placeholder="CEP" data-name="CEP" maxlength="9" value="<?= $cfgcontato['CEP']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">E-mail</label>
                                    <div class="col-sm-7">
                                        <input type="text" autocomplete="false" class="form-control" id="email" name="email" placeholder="E-mail" data-name="E-mail" maxlength="200" value="<?= $cfgcontato['EMAIL_TECNICO']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" id="idcontato" name="idcontato" value="<?= $cfgcontato['IDCONTATO'] ?>" />
                                    <label for="field-1" class="control-label col-sm-1">Endereço</label>
                                    <div class="col-sm-7">
                                        <input type="text" autocomplete="false" autocomplete="false" class="form-control elogradouro" id="endereco" name="endereco" placeholder="Endereço" data-name="Endereço" data-verif="false" maxlength="150" value="<?= $cfgcontato['ENDERECO']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">Nº</label>
                                    <div class="col-sm-2">
                                        <input type="text" autocomplete="false" class="form-control numbers" id="numero" name="numero" placeholder="Número" data-name="Número" maxlength="20" value="<?= $cfgcontato['NUMERO']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-1">Complemento</label>
                                    <div class="col-sm-5">
                                        <input type="text" autocomplete="false" class="form-control" id="complemento" name="complemento" placeholder="Complemento" data-name="Complemento" data-verif="false" maxlength="150" value="<?= $cfgcontato['COMPLEMENTO']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">Bairro</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control ebairro" id="bairro" name="bairro" placeholder="Bairro" data-name="Bairro" maxlength="150" value="<?= $cfgcontato['BAIRRO']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-1">Cidade</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control ecidade" id="cidade" name="cidade" placeholder="Cidade" data-name="Cidade" maxlength="150" value="<?= $cfgcontato['CIDADE']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">UF</label>
                                    <div class="col-sm-2">
                                        <select class="form-control eestado" id="uf" name="uf" data-name="UF" >
                                            <option value="">Selecione</option>
                                            <option value="AC" <?= $cfgcontato['UF'] == 'AC' ? 'selected="selected"' : '' ?>>AC</option>
                                            <option value="AL" <?= $cfgcontato['UF'] == 'AL' ? 'selected="selected"' : '' ?>>AL</option>
                                            <option value="AP" <?= $cfgcontato['UF'] == 'AP' ? 'selected="selected"' : '' ?>>AP</option>
                                            <option value="AM" <?= $cfgcontato['UF'] == 'AM' ? 'selected="selected"' : '' ?>>AM</option>
                                            <option value="BA" <?= $cfgcontato['UF'] == 'BA' ? 'selected="selected"' : '' ?>>BA</option>
                                            <option value="CE" <?= $cfgcontato['UF'] == 'CE' ? 'selected="selected"' : '' ?>>CE</option>
                                            <option value="DF" <?= $cfgcontato['UF'] == 'DF' ? 'selected="selected"' : '' ?>>DF</option>
                                            <option value="ES" <?= $cfgcontato['UF'] == 'ES' ? 'selected="selected"' : '' ?>>ES</option>
                                            <option value="GO" <?= $cfgcontato['UF'] == 'GO' ? 'selected="selected"' : '' ?>>GO</option>
                                            <option value="MA" <?= $cfgcontato['UF'] == 'MA' ? 'selected="selected"' : '' ?>>MA</option>
                                            <option value="MT" <?= $cfgcontato['UF'] == 'MT' ? 'selected="selected"' : '' ?>>MT</option>
                                            <option value="MS" <?= $cfgcontato['UF'] == 'MS' ? 'selected="selected"' : '' ?>>MS</option>
                                            <option value="MG" <?= $cfgcontato['UF'] == 'MG' ? 'selected="selected"' : '' ?>>MG</option>
                                            <option value="PA" <?= $cfgcontato['UF'] == 'PA' ? 'selected="selected"' : '' ?>>PA</option>
                                            <option value="PB" <?= $cfgcontato['UF'] == 'PB' ? 'selected="selected"' : '' ?>>PB</option>
                                            <option value="PR" <?= $cfgcontato['UF'] == 'PR' ? 'selected="selected"' : '' ?>>PR</option>
                                            <option value="PE" <?= $cfgcontato['UF'] == 'PE' ? 'selected="selected"' : '' ?>>PE</option>
                                            <option value="PI" <?= $cfgcontato['UF'] == 'PI' ? 'selected="selected"' : '' ?>>PI</option>
                                            <option value="RJ" <?= $cfgcontato['UF'] == 'RJ' ? 'selected="selected"' : '' ?>>RJ</option>
                                            <option value="RN" <?= $cfgcontato['UF'] == 'RN' ? 'selected="selected"' : '' ?>>RN</option>
                                            <option value="RS" <?= $cfgcontato['UF'] == 'RS' ? 'selected="selected"' : '' ?>>RS</option>
                                            <option value="RO" <?= $cfgcontato['UF'] == 'RO' ? 'selected="selected"' : '' ?>>RO</option>
                                            <option value="RR" <?= $cfgcontato['UF'] == 'RR' ? 'selected="selected"' : '' ?>>RR</option>
                                            <option value="SC" <?= $cfgcontato['UF'] == 'SC' ? 'selected="selected"' : '' ?>>SC</option>
                                            <option value="SP" <?= $cfgcontato['UF'] == 'SP' ? 'selected="selected"' : '' ?>>SP</option>
                                            <option value="SE" <?= $cfgcontato['UF'] == 'SE' ? 'selected="selected"' : '' ?>>SE</option>
                                            <option value="TO" <?= $cfgcontato['UF'] == 'TO' ? 'selected="selected"' : '' ?>>TO</option>
                                        </select>
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">Telefone</label>
                                    <div class="col-sm-2">
                                        <input type="text" autocomplete="false" class="form-control maskFone" id="telefone" name="telefone" placeholder="Telefone" data-name="Telefone" maxlength="200" value="<?= $cfgcontato['TELEFONE']; ?>">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane <?= $tabativa == 3 ? 'active' : '' ?>" id="3">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal form-groups-bordered" id="form_infosmtp" role="form" method="post" action="<?= $urlactionsmtp ?>">
                                <div class="form-group">
                                    <input type="hidden" id="idsmtp" name="idsmtp" value="<?= $cfgcontato['IDSMTP'] ?>" />
                                    <label for="field-1" class="control-label col-sm-2">Host</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="host" name="host" placeholder="Host" data-name="Host" maxlength="150" value="<?= \avalcelular\Common::encrypt_decrypt('decrypt', $cfgcontato['SMTP_HOST']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Usuário</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="usuario" name="usuario" placeholder="Usuário" data-name="Usuário" data-verif="false" maxlength="120" value="<?= \avalcelular\Common::encrypt_decrypt('decrypt', $cfgcontato['SMTP_USER']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Senha</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="senha" name="senha" placeholder="Senha" data-name="Senha" data-verif="false" maxlength="120" value="<?= \avalcelular\Common::encrypt_decrypt('decrypt', $cfgcontato['SMTP_SENHA']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Porta</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="porta" name="porta" placeholder="Porta" data-name="Porta" maxlength="150" value="<?= \avalcelular\Common::encrypt_decrypt('decrypt', $cfgcontato['SMTP_PORTA']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Contato Padrão</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="contatopadrao" name="contatopadrao" placeholder="Contato Padrão" data-name="Contato Padrão" maxlength="150" value="<?= $cfgcontato['NOME_CONTATO_DEFAULT']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Email do Contato Padrão</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="emailcontatopadrao" name="emailcontatopadrao" placeholder="Email do Contato Padrão" data-name="Email do Contato Padrão" maxlength="150" value="<?= \avalcelular\Common::encrypt_decrypt('decrypt', $cfgcontato['MAIL_CONTATO_DEFAULT']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-2">
                                        <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane <?= $tabativa == 4 ? 'active' : '' ?>" id="4">
                    <form id="form-imagens" name="form-imagens" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlactionimg ?>" enctype="multipart/form-data">
                        <input type="hidden" id="idimagens" name="idimagens" value="<?= $cfgcontato['IDSMTP'] ?>" />
                        <?php if (isset($cfgcontato) && !empty($cfgcontato['LOGOTIPO'])) { ?>
                            <div class="form-group">
                                <div class="col-sm-7 col-sm-offset-2">
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <a href="<?= SITE_URL . "/public_html/static/img/" . $cfgcontato['LOGOTIPO'] ?>" data-lightbox="example-set" class="single_image">
                                            <img src="<?= SITE_URL . "/public_html/static/img/" . $cfgcontato['LOGOTIPO'] ?>" class="img-fluid img-thumbnail" width="150" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Logotipo</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control file-foto" data-name="Logo" name="logotipo" id="foto" accept="image/*" data-verif="false" /> *Tamanho: 200x200
                            </div>
                        </div>
                        <?php if (isset($cfgcontato) && !empty($cfgcontato['FAVICON'])) { ?>
                            <div class="form-group">
                                <div class="col-sm-7 col-sm-offset-2">
                                    <div class="col-md-1 col-sm-2 col-xs-12">
                                        <a href="<?= SITE_URL . "/public_html/static/img/" . $cfgcontato['FAVICON'] ?>" data-lightbox="example-set" class="single_image">
                                            <img src="<?= SITE_URL . "/public_html/static/img/" . $cfgcontato['FAVICON'] ?>" class="img-fluid img-thumbnail" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Favicon</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control file-foto" data-name="favicon" name="favicon" id="favicon" accept="image/*" data-verif="false" /> *Tamanho: 200x200
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
