<div class="row">
    <div class="col-sm-7 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= SITE_URL . '/' . $controller . '/Usuario' ?>" class="btn btn-green btn-lg">Cadastrar Novo Usuário</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table class="table table-bordered table-striped datatable table-pages">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome</th>
                        <th>Perfil</th>
                        <th>E-mail</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listausuarios as $row) { ?>
                        <tr>
                            <td class="id sorting_1">
                                <?= $row['US_ID'] ?>
                            </td>
                            <td class="sorting_1"><?= $row['NOME_COMPLETO'] ?></td>
                            <td class="sorting_1"><?= $row['PER_DESC'] ?></td>
                            <td class="sorting_1"><?= $row['EMAIL'] ?></td>
                            <td class="sorting_1"><?= intval($row['US_STATUS']) == 1 ? 'Ativo' : 'Inativo' ?></td>
                            <td class="acoes">
                                <a href="<?= SITE_URL . '/' . $controller . '/Usuario/' . $row['US_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_usuario" data-id="<?= $row['US_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/ResertarSenha/' . $row['US_ID'] ?>" class="btn btn-xs btn-blue" data-toggle="tooltip" data-placement="top" title="Resetar Senha">
                                    <i class="entypo-erase"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Inativar/' . $row['US_ID'] ?>" class="btn btn-xs btn-black change_status" data-toggle="tooltip" data-placement="top" title="Inativar">
                                    <i class="entypo-lock"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Ativar/' . $row['US_ID'] ?>" class="btn btn-xs btn-green change_status" data-toggle="tooltip" data-placement="top" title="Ativar">
                                    <i class="entypo-lock-open"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
