<head>
    <meta charset="UTF-8">
    <title><?=NOME_SITE?></title>
    <link rel="stylesheet" id="wp-block-library-css" href="<?=SITE_CSS?>style.min.css?randon=<?= uniqid() ?>" media="all">
    <link rel="stylesheet" id="twentytwenty-style-css" href="<?=TEMA_TWTY?>style.min.css?randon=<?= uniqid() ?>" media="all">
    <link rel="stylesheet" id="brizy-preview-css" href="<?=SITE_CSS?>preview.min.css?randon=<?= uniqid() ?>" media="all">

    <script src="<?=SITE_JS?>jquery.min.js?randon=<?= uniqid() ?>" id="jquery-core-js"></script>
    <script src="<?=SITE_JS?>jquery-migrate.min.js?randon=<?= uniqid() ?>" id="jquery-migrate-js"></script>

    <link href="<?=JS_SELECT2_URL?>/select2.min.css" rel="stylesheet" media="all"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link class="brz-link brz-link-google" type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|
    Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic" media="all">

    <link rel="stylesheet" href="<?= CSS_BOOTSTRAP_URL ?>/bootstrap.min.css">

    <link href="<?= PLUGIN_WAITME ?>/waitMe.min.css" rel="stylesheet" media="all" />

    <link href="<?= URL_CSS_UIKIT_PATH ?>/uikit-2.27.2.min.css" rel="stylesheet" media="all" />
    <link href="<?= URL_CSS_UIKIT_PATH ?>/notify-2.27.2.min.css" rel="stylesheet" media="all" />
    <link href="<?= URL_CSS_UIKIT_PATH ?>/customUkit.min.css" rel="stylesheet" media="all" />

    <link rel="stylesheet" href="<?= CSS_FONT_ENTYPO_URL ?>/entypo.min.css" media="all" />
    <!--link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"-->
    <link href="<?= SITE_CSS ?>site.min.css?randon=<?= uniqid() ?>" rel="stylesheet" media="all" />

    <link rel="shortcut icon" type="image/png" href="<?= SITE_URL . "/public_html/static/img/" . $config['FAVICON'] ?>" />
    <!--link rel="icon" href="<?//=SITE_IMG;?>cropped-mco-circle-32x32.png" sizes="32x32" media="all" -->
    <!--link rel="icon" href="<?//=SITE_IMG?>cropped-mco-circle-192x192.png" sizes="192x192" media="all" -->
    <!--link rel="apple-touch-icon" href="<?//=SITE_IMG?>cropped-mco-circle-180x180.png" media="all" -->
    <meta name="msapplication-TileImage" content="<?=SITE_IMG?>cropped-mco-circle-270x270.png">

    <script>
        jQuery(document).ready(function ($) {
        <?php if(isset($pagina) && ($pagina > 0 && $pagina < 11)){?>

            <?php

                $recuo = 0;

                switch($pagina){
                    case 1:
                        $recuo = '-500';
                        break;
                    case 3:
                        $recuo = '-590';
                        break;
                    case 5:
                        $recuo = '-420';
                        break;
                    case 6:
                        $recuo = '-300';
                        break;
                    case 10:
                        $recuo = '-350';
                        break;
                }
            ?>

            if($(document).width() > 1024){
                $('html,body').animate({
                    scrollTop: $('<?='#'.$arrastar?>').offset().top<?=$recuo?>
                }, 'slow');
            }
        <?php }?>
        });
    </script>
    <script>
        let caminho = "<?= SITE_URL; ?>";
        let logosite = "<?= SITE_URL . "/public_html/static/img/" . $config['LOGOTIPO'] ?>";
    </script>

</head>
<body class="page-template page-template-brizy-blank-template page-template-brizy-blank-template-php page page-id-4268 custom-background wp-embed-responsive singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars brizy-blank-template footer-top-visible reduced-spacing brz waitMe_body">
    <div class="waitMe_container text" style="background:#fff">
<div style="color:#000; font-size: 18px">Carregando...</div>
</div>
    <div class="uk-notify uk-notify-top-right" style="z-index: 100000;">
        <?php if (avalcelular\Session::get("acao")) { ?>
            <div class="alert uk-notify-message uk-<?= avalcelular\Session::get("acao-class"); ?>" data-uk-alert>
                <a class="uk-close"></a>
                <div>
                    <?= avalcelular\Session::get("acao-msg") ?>
                </div>
                <?php
                avalcelular\Session::delete("acao");
                avalcelular\Session::delete("erro-login");
                avalcelular\Session::delete("acao-msg");
            }
            ?>
        </div>
    </div>
    <div class="brz-root__container brz-reset-all pagina-main">
