
      <div class="container">
         <?php if(isset($pagina) && $pagina < 6){?>
         <div class="row mt-70">
            <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
               <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fw-lg-700 brz-fw-sm-im-700 brz-fw-xs-im-700 brz-text-lg-center brz-fs-lg-30 brz-fs-sm-im-29 brz-fs-xs-im-29">
                  <span class="color-black"><?=isset($footertitulo_1) ? $footertitulo_1 : ''?></span>
               </p>
            </div>
         </div>
         <div class="row mb-200 mt-30">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 img-foot-1">
                  <img class="brz-img brz-img-svg" src="<?=SITE_IMG .'checklist2-01.svg'?>" alt="" draggable="false" loading="lazy">
               </div>
               <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 info-rodape txt-foot-1">
                  <p class="brz-text-lg-left brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-15 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_4">
                     <span class="color-black"><?=isset($footertitulo_2) ? $footertitulo_2 : ''?></span>
                  </p>
               </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 img-foot-2">
                  <img class="brz-img brz-img-svg" src="<?=SITE_IMG .'home2-01.svg'?>" alt="" draggable="false" loading="lazy">
               </div>
               <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 info-rodape txt-foot-2">
                  <p class="brz-text-lg-left brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-15 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_4">
                     <span class="color-black"><?=isset($footertitulo_3) ? $footertitulo_3 : ''?></span>
                  </p>
               </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 img-foot-3">
                  <img class="brz-img brz-img-svg" src="<?=SITE_IMG .'delivery.svg'?>" alt="" draggable="false" loading="lazy">
               </div>
               <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 info-rodape txt-foot-3">
                  <p class="brz-text-lg-left brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-15 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_4">
                     <span class="color-black"><?=isset($footertitulo_4) ? $footertitulo_4 : ''?></span>
                  </p>
               </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 img-foot-4">
                  <img class="brz-img brz-img-svg" src="<?=SITE_IMG .'money-01.svg'?>" alt="" draggable="false" loading="lazy">
               </div>
               <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 info-rodape txt-foot-4">
                  <p class="brz-text-lg-left brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-15 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_4">
                     <span class="color-black"><?=isset($footertitulo_5) ? $footertitulo_5 : ''?></span>
                  </p>
               </div>
            </div>
         </div>
         <?php }else{?>
         <div class="row mt-70">
            <div class="brz-rich-text">
               <p class="brz-text-lg-center brz-fw-xs-im-700 brz-fw-sm-im-700 brz-fw-lg-700 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7 brz-fs-lg-30 brz-fs-sm-im-29 brz-fs-xs-im-29">
                  <span><?=isset($footertitulo_1) ? $footertitulo_1 : ''?></span>
               </p>
            </div>
         </div>
         <div class="row mb-200 mt-30">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                  <img class="brz-img brz-img-svg" src="<?=SITE_IMG .'iphone-loja3-01.svg'?>" alt="" draggable="false" loading="lazy">
               </div>
               <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 info-rodape">
                  <p class="brz-text-lg-left brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-16 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_4">
                     <span class="color-black"><?=isset($footertitulo_2) ? $footertitulo_2 : ''?></span>
                  </p>
               </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                  <img class="brz-img brz-img-svg" src="<?=SITE_IMG .'market-01.svg'?>" alt="" draggable="false" loading="lazy">
               </div>
               <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 info-rodape">
                  <p class="brz-text-lg-left brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-16 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_4">
                     <span class="color-black"><?=isset($footertitulo_3) ? $footertitulo_3 : ''?></span>
                  </p>
               </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                  <img class="brz-img brz-img-svg" src="<?=SITE_IMG .'iphone-apple2-01.svg'?>" alt="" draggable="false" loading="lazy">
               </div>
               <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 info-rodape">
                  <p class="brz-text-lg-left brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-16 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_4">
                     <span class="color-black"><?=isset($footertitulo_4) ? $footertitulo_4 : ''?></span>
                  </p>
               </div>
            </div>
         </div>
         <?php }?>
      </div>
   </div>
</section>
