<div class="sidebar-menu">
    <div class="sidebar-menu-inner">
        <header class="logo-env">
            <div class="col-sm-10 logo">
                <a href="https://loja.ihelpu.com.br" target="_blank">
                    <img src="<?= !empty($config['LOGOTIPO']) ? SITE_URL . "/public_html/static/img/" . $config['LOGOTIPO'] : SITE_URL . "/public_html/static/img/no-logo.png" ?>" class="img-responsive" style="height: 50px"/>
                </a>
            </div>
            <div class="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon">
                    <i class="entypo-menu"></i>
                </a>
            </div>
            <div class="sidebar-mobile-menu visible-xs">
                <a href="#" class="with-animation">
                    <i class="entypo-menu"></i>
                </a>
            </div>
        </header>

        <ul id="main-menu" class="main-menu">
            <?php foreach ($menu as $row) { ?>
                <?php if ((int) $row['MN_PAI'] == 0) { ?>
                    <li <?= ($row['FILHOS'] != null) ? (in_array($selecionado, explode(",", $row['FILHOS']))) ? 'class="root-level has-sub opened"' : '' : '' ?>>
                        <a href="<?= ($row['FILHOS'] != null) ? '' : SITE_URL . "/" . $row['MN_LINK'] ?>" <?= ($row['FILHOS'] != null) ? '' : 'id="' . $row['MN_ID'] . '" class="menu-link"' ?>>
                            <i class="<?= $row['MN_IMG'] ?>"></i>
                            <span class="title"><?= ($selecionado == $row['MN_ID']) ? '<strong>' . $row['MN_NOME'] . '</strong>' : $row['MN_NOME'] ?></span>
                        </a>
                        <?php if ($row['FILHOS'] != null) { ?>
                            <ul>
                                <?php foreach ($menu as $row2) { ?>
                                    <?php if ($row['MN_ID'] == $row2['MN_PAI']) { ?>
                                        <li>
                                            <a href="<?= SITE_URL . "/" . $row2['MN_LINK'] ?>" class="menu-link <?= $selecionado == $row2['MN_ID'] ? 'menu-link-selecionado' : '' ?>" data-id="<?= $row2['MN_ID'] ?>">
                                                <span class="title"><?= ($selecionado == $row2['MN_ID']) ? '<strong>' . $row2['MN_NOME'] . '</strong>' : $row2['MN_NOME'] ?></span>
                                            </a>
                                        </li>
                                    <?php } ?>
                                <?php } ?>
                            </ul>
                        <?php } ?>
                    </li>
                <?php } ?>
            <?php } ?>
        </ul>
    </div>
</div>

<div class="main-content">
