	<script src="<?= JS_BOOTSTRAP_URL ?>/bootstrap.min.js?randon=<?= uniqid() ?>"></script>

	<script type="text/javascript" src="<?= URL_JS_UIKIT_PATH ?>/uikit-2.27.2.min.js?randon=<?= uniqid() ?>" defer async></script>
	<script type="text/javascript" src="<?= URL_JS_UIKIT_PATH ?>/notify-2.27.2.min.js?randon=<?= uniqid() ?>" defer async></script>

	<script type="text/javascript" src="<?= JS_JQUERY_URL ?>/jquery.maskedinput.min.js?randon=<?= uniqid() ?>"></script>

	<script src="<?=PLUGIN_WAITME?>/waitMe.min.js"></script>

	<script src="<?=JS_SELECT2_URL?>/select2.min.js"></script>

	<script src="<?= JS_TELAS . '/site.min.js?randon=' . uniqid() ?>"></script>
	</body>
</html>
