<div class="row">
    <div class="col-md-6 col-sm-8 clearfix">
        <ul class="user-info pull-left pull-none-xsm">
            <li class="profile-info dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <?php if (empty(avalcelular\Session::get('token'))) { ?>
                        <img src="<?= SITE_URL . "/public_html/static/img/no-avatar.png" ?>" alt="" class="img-circle" width="44" />
                    <?php } else { ?>
                        <?php if (empty($usuariologado['US_IMAGEM'])) { ?>
                            <img src="<?= SITE_URL . "/public_html/static/img/no-avatar.png" ?>" alt="" class="img-circle" width="44" />
                        <?php } else { ?>
                            <img src="<?= SITE_URL . "/public_html/static/img/fotosusuarios/" . $usuariologado['US_IMAGEM'] ?>" alt="" class="img-circle" width="44" />
                        <?php } ?>
                    <?php } ?>
                    <?= empty(avalcelular\Session::get('token')) ? '' : 'Seja bem vindo, ' . $usuariologado['NOME_COMPLETO']; ?>
                </a>
                <ul class="dropdown-menu">
                    <li class="caret"></li>
                    <li>
                        <a href="<?= SITE_URL . '/Usuarios/MeusDados' ?>">
                            <i class="entypo-user"></i>
                            Meus Dados
                        </a>
                    </li>
                    <li>
                        <a href="<?= SITE_URL . '/Home/Sair' ?>">
                            <i class="entypo-logout"></i>
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-sm-4 clearfix ">

    </div>
</div>
<hr />
