<section class="brz-section brz-section__header">
    <div class="menu-principal">
        <nav id="navbar_top" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://loja.ihelpu.com.br" target="_blank">
                        <img src="<?= SITE_URL . "/public_html/static/img/" . $config['LOGOTIPO'] ?>"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="https://www.loja.ihelpu.com.br/assistencia" target="_blank">Serviços</a></li>
                        <li><a href="https://www.loja.ihelpu.com.br/iphone-seminovo" target="_blank">Seminovos</a></li>
                        <li><a href="https://www.loja.ihelpu.com.br/cabos-e-carregadores" target="_blank">Cabos e carregadores</a></li>
                        <li><a href="https://www.loja.ihelpu.com.br/peliculas-protetoras" target="_blank">Películas protetoras</a></li>
                        <li><a href="https://www.loja.ihelpu.com.br/fones-e-caixas-de-som" target="_blank">Fones e Caixas de som</a></li>
                        <li><a href="https://www.loja.ihelpu.com.br/acessorios" target="_blank">Acessórios</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-vender-iphone" href="http://www.ihelpu.com.br/avaliacao/Site/vender" target="_blank">Vender meu iPhone</a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>

<section class="brz-section">
    <div class="brz-section__content brz-section--boxed">
        <?php if(isset($pagina) && $pagina < 6){?>
        <div class="container">
            <div class="row mt-70">
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <h2 class="brz-text-lg-center brz-tp-heading2">
                        <span class="color-red-title"><?=isset($titulo_1) ? $titulo_1 : ''?></span>
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <h2 class="brz-text-lg-center brz-tp-heading2">
                        <span class="color-red-title"><?=isset($titulo_2) ? $titulo_2 : ''?></span>
                    </h2>
                </div>
            </div>
            <div class="row mb-70 mt-40">
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <h1 class="brz-lh-xs-im-1_5 brz-lh-sm-im-1_5 brz-lh-lg-1_5 brz-fs-xs-im-8 brz-fs-sm-im-8 brz-fs-lg-20 brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-text-lg-center brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ls-lg-m_0_5">
                        <span class="color-black"><?=isset($texto_1) ? $texto_1 : ''?></span>
                    </h1>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <h1 class="brz-lh-xs-im-1_5 brz-lh-sm-im-1_5 brz-lh-lg-1_5 brz-fs-xs-im-8 brz-fs-sm-im-8 brz-fs-lg-20 brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-text-lg-center brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ls-lg-m_0_5">
                        <span class="color-black"><?=isset($texto_2) ? $texto_2 : ''?></span>
                    </h1>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <h1 class="brz-lh-xs-im-1_5 brz-lh-sm-im-1_5 brz-lh-lg-1_5 brz-fs-xs-im-8 brz-fs-sm-im-8 brz-fs-lg-20 brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-ft-google brz-ff-montserrat brz-text-lg-center brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ls-lg-m_0_5">
                        <span class="color-black"><?=isset($texto_3) ? $texto_3 : ''?></span>
                    </h1>
                </div>
            </div>
        </div>
        <?php }else{?>
            <?php if(isset($pagina) && $pagina != 10 && $pagina != 11){?>
        <div class="container">
            <div class="row mt-70">
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <p class="brz-fw-xs-im-700 brz-fw-sm-im-700 brz-fw-lg-700 brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-text-lg-center brz-fs-lg-30 brz-fs-sm-im-29 brz-fs-xs-im-29">
                        <span class="color-black"><?=isset($titulo_1) ? $titulo_1 : ''?></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <p class="brz-text-lg-center brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-19 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7">
                        <span class="color-black"><?=isset($texto_1) ? $texto_1 : ''?></span>
                    </p>
                </div>
            </div>
            <div class="row mb-70">
                <div class="col-sm-12 col-md-12 col-lg-12 brz-rich-text">
                    <p class="brz-text-lg-center brz-fw-xs-im-500 brz-fw-sm-im-500 brz-fw-lg-500 brz-fs-xs-im-18 brz-fs-sm-im-18 brz-fs-lg-19 brz-ft-google brz-ff-montserrat brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-0 brz-lh-xs-im-1_6 brz-lh-sm-im-1_6 brz-lh-lg-1_7">
                        <span class="color-black"><?=isset($texto_2) ? $texto_2 : ''?></span>
                    </p>
                </div>
            </div>
        </div>
        <?php }else{?>
        <?php if(isset($pagina)){?>
            <div class="container">
                <div class="row brz-rich-text mt-70">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="brz-fw-xs-im-700 brz-fw-sm-im-700 brz-fw-lg-700 brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-text-lg-center brz-fs-lg-30 brz-fs-sm-im-29 brz-fs-xs-im-29">
                            <span class="color-black"><?=isset($titulo_1) ? $titulo_1 : ''?></span>
                        </p>
                    </div>
                </div>
                <div class="row brz-rich-text">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 num-proposta">
                        <p class="brz-ls-xs-im-0 brz-ls-sm-im-0 brz-ls-lg-m_0_5 brz-lh-xs-im-1_3 brz-lh-sm-im-1_3 brz-lh-lg-1_3 brz-text-lg-center brz-ff-roboto brz-ft-google brz-fw-lg-400 brz-fw-sm-im-400 brz-fw-xs-im-400 brz-fs-lg-26 brz-fs-sm-im-19 brz-fs-xs-im-13">
                            <span class="color-black"><?=isset($titulo_2) ? $titulo_2 : ''?></span>
                        </p>
                    </div>
                </div>
                <div class="row brz-rich-text">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fs-lg-19 brz-fs-sm-im-18 brz-fs-xs-im-18 brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-text-lg-center">
                            <span class="color-black"><?=isset($texto_1) ? $texto_1 : ''?></span>
                        </p>
                    </div>
                </div>
                <div class="row brz-rich-text mb-70">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-montserrat brz-ft-google brz-fs-lg-19 brz-fs-sm-im-18 brz-fs-xs-im-18 brz-fw-lg-500 brz-fw-sm-im-500 brz-fw-xs-im-500 brz-text-lg-center">
                            <span class="color-black"><?=isset($texto_2) ? $texto_2 : ''?></span>
                        </p>
                    </div>
                </div>
                <div class="row brz-rich-text">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="brz-lh-lg-1_7 brz-lh-sm-im-1_6 brz-lh-xs-im-1_6 brz-ls-lg-0 brz-ls-sm-im-0 brz-ls-xs-im-0 brz-ff-roboto brz-ft-google brz-fw-lg-700 brz-fw-sm-im-700 brz-fw-xs-im-700 brz-fs-lg-28 brz-fs-sm-im-27 brz-fs-xs-im-27">
                            <span class="color-gray"><?=isset($texto_3) ? $texto_3 : ''?></span>
                        </p>
                    </div>
                </div>
            </div>
            <?php }?>
        <?php }?>
    <?php }?>
