/*----------------------Cores-----------------------------*/
.icone_amarelo 		{	color:#FFC90E; 	}
.icone_branco 		{	color:#FFFFFF; 	}
.icone_cinza	 	{	color:#A9A9A9; 	}
.icone_verde 		{	color:#62CE5F; 	}
.icone_verdeEscuro1 	{	color:#007244; 	}
.icone_vermelho 	{	color:#EE0000;          }
.icone_preto	 	{	color:#000000;          }
.icone_azulClaro 	{	color:#6BBDDD;   }
.icone_azulMedio	{	color:#57D5FF;      }
.icone_laranja		{ 	color:#FF7F27; 	}
.icone_rosa             {       color:#DB7093;   }


/*----------------------Tamanhos-----------------------------*/
.font13 {   font-size: 13px;  }
.font14 {   font-size: 14px;  }

/*--------Exclusivo dos Icones do Google-----------*/
.material-icons:hover		{	color:#B91E1E;   	}
span.oi:hover		{	color:#B91E1E;   	}
