.imagem-produto {
    border: #216584 solid 2px;
    padding: 15px;
    height: 200px;
    margin: 5px 3px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    min-width: 100%;
    height: auto;
}

.img-thumbnail-n {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    min-width: 100%;
    height: auto;
}

a.deletar_imagem {
    margin-top: -43px;
    margin-left: 3px;
}

#lightbox p {
    text-align: right;
    color: #fff;
    margin-right: 20px;
    font-size: 12px;
}

#lightbox img {
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    max-width: 940px;
}

a.deletar_imagem {
    margin-left: 5px;
    margin-bottom: 5px;
}

.img_principal {
    margin-top: -17px;
    position: absolute;
    right: 11%;
    font-size: 10px;
    color: #000;
}

.img_principal input {
    vertical-align: sub;
}
