.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; color: #969090;}
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
	color: #969090;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #969090
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
	color: #969090;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.proposta-nav-checkbox-wrap {
    margin: 0px 10px 15px;
    display: inline-block;
}

.input-checkbox-nav, .label-checkbox-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.input-checkbox-nav:checked + .label-checkbox-nav {
    background: #71CB99;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.input-checkbox-nav:checked + .label-checkbox-nav:before {
    background: #46B769;
}

.input-checkbox-nav {
    opacity: 0;
    position: absolute;
}

.label-checkbox-nav {
    position: relative;
    text-align: left;
    padding-left: 20px;
    background-color: #FFF;
    padding: 12px 10px;
    user-select: none;
    border: 1px solid #EFE6E6;
    border-radius: 4px;
    font-size: 13px;
    color: #777;
}

.input-checkbox-nav + .label-checkbox-nav:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

checkbox-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.proposta-nav-list input {
    color: white;
    font-size: 18px;
    display: block;
    padding: 15px 30px;
    background-color: #50B0E1;
    border-radius: 4px;
    margin: 15px auto;
}

.area-perguntas{
    min-height: 350px;
}

.label-checkbox-nav-quebrados {
    position: relative;
    text-align: left;
    padding-left: 20px;
    background-color: #FFF;
    padding: 12px 10px;
    user-select: none;
    border: 1px solid #EFE6E6;
    border-radius: 4px;
    font-size: 13px;
    color: #777;
}

.input-checkbox-nav-quebrados:checked + .label-checkbox-nav-quebrados {
    background: #E37165;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.input-checkbox-nav-quebrados:checked + .label-checkbox-nav-quebrados:before {
    background: #c0392b;
}

.label-checkbox-nav-quebrados {
    position: relative;
    text-align: left;
    padding-left: 20px;
    background-color: #FFF;
    padding: 12px 10px;
    user-select: none;
    border: 1px solid #EFE6E6;
    border-radius: 4px;
    font-size: 13px;
    color: #777;
}

.input-checkbox-nav-quebrados + .label-checkbox-nav-quebrados:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.input-checkbox-nav-quebrados {
    opacity: 0;
    position: absolute;
}

.input-checkbox-nav-quebrados, .label-checkbox-nav-quebrados {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.proposta-nav-list-title {
    margin: 30px 0px;
}

/*.proposta-nav-list {
    display: inline-block;
    margin: 8px;
}*/

.proposta-nav-list a {
    color: white;
    font-size: 18px;
    display: block;
    padding: 15px 30px;
    background-color: #50B0E1;
    border-radius: 4px;
    text-decoration: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    display: inline;
}

.proposta-nav-list a:active {
    background-color: #3F8FB7;
}

.proposta-nav-list a:hover {
    color: white;
    background-color: #469CC7;
    font-weight: bold;
    text-decoration: none;
}

.opcao-prazo{
    margin-bottom: 0px;
    vertical-align: top;
    margin: 20px 5px;
    border: 1px solid #e7e9e6;
    background: #fff;
    display: inline-block;
    width: 310px;
    min-height: 330px;
    padding: 10px;
}

.opcao-prazo .op_0{
    background-color: lightskyblue;
}

.opcao-prazo .op_1{
    background-color: lightseagreen;
}

.opcao-prazo .op_2{
    background-color: lightcoral;
}

.opcao-prazo .op_3{
    background-color: black;
}

.opcao-prazo .title{
    color: white;
    min-height: 30px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.opcao-prazo .title span{
    font-size: 20px;
    margin: 10px;
}

.opcao-prazo .item-checkout{
    padding:5px;
}

.opcao-prazo .item-checkout .checkout-resumo-wrap-item .checkout-resumo-produto {
    font-size: 14px;
    color: #666;
    padding: 5px;
}

.opcao-prazo .item-checkout .checkout-resumo-wrap-item .checkout-resumo-produto h3{
    font-size: 18px;
    line-height: 2;
    margin-bottom: 15px;
    color: #666;
    font-weight: bold;
}

.opcao-prazo .item-checkout .checkout-resumo-wrap-item .checkout-resumo-produto .checkout-desc-produto {
    font-size: 14px !important;
    border-top: 1px solid #cccccc;
    color: #666;
    padding: 5px;
}

.opcao-prazo .item-checkout .checkout-resumo-wrap-item .checkout-resumo-produto .access{
    padding: 8px 0px 2px 0px;
    text-align: left;
    font-weight: bold;
}

.opcao-prazo .item-checkout .checkout-resumo-wrap-item .checkout-resumo-produto .checkout-resumo-acessorio {
    font-size: 12px;
    padding-right: 5px;
    padding-top: 5px;
}

.opcao-prazo .item-checkout .checkout-resumo-wrap-item .checkout-resumo-produto .quebrados{
    padding: 8px 0px 2px 0px;
    text-align: left;
    font-weight: bold;
}

.opcao-prazo .item-checkout .checkout-resumo-wrap-item .checkout-resumo-produto .checkout-resumo-acessorio {
    font-size: 12px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
}

.opcao-prazo .total-pedido {
    margin-top: 5px;
    font-weight: bold;
    color: #666;
}

.opcao-prazo .total-pedido .subtotal{
    padding: 5px 0px;
    font-size: 14px;
}

.opcao-prazo .total-pedido .prazo-pag{ 
    padding: 5px 0px;
    font-size: 13px;
}


.opcao-prazo .total-pedido .total-pag{
    padding: 13px 0px;
    font-size: 16px;
}

.opcao-prazo .checkout-itens-quebrado{
    color: red;
}

.opcao-prazo .checkout-itens-acessorio{
    color: green;
}

.opcao-prazo button{
    color: white;
    font-size: 18px;
    display: block;
    padding: 15px 30px;
    background-color: #50B0E1;
    border-radius: 4px;
    text-decoration: none;
}