<div class="login-container">
    <div class="login-header login-caret">
        <div class="login-content">
            <a href="index.html" class="logo">
                <img src="<?= SITE_URL . "/public_html/static/img/" . $config['LOGOTIPO'] ?>" class="img-responsive" style="margin: 0 auto"/>
            </a>
        </div>
    </div>

    <div class="login-form">
        <div class="login-content">
            <form method="post" role="form" name="form_login" id="form_login" action="<?= $urlaction ?>">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>
                        <input type="text" class="form-control" name="login" id="login" data-name="Login" placeholder="Login" autocomplete="off" maxlength="12"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>
                        <input type="password" class="form-control" name="senha" id="senha" data-name="Senha" placeholder="Senha" autocomplete="off" maxlength="12"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block btn-login form_submit">
                        <i class="entypo-login"></i>
                        Entrar
                    </button>
                </div>
            </form>
            <div class="login-bottom-links">
                <a href="<?= SITE_URL; ?>\Login\Resetar" class="link">Esqueceu sua senha?</a>
            </div>
        </div>
    </div>
</div>