<div class="login-container">
    <div class="login-header login-caret">
        <div class="login-content">
            <a href="index.html" class="logo">
                <img src="<?= SITE_URL . "/public_html/static/img/" . $config['LOGOTIPO'] ?>" class="img-responsive" style="margin: 0 auto"/>
            </a>
            <p class="description">Informe uma nova senha de acesso!</p>
        </div>
    </div>
    <div class="login-progressbar">
        <div></div>
    </div>
    <div class="login-form">
        <div class="login-content">
            <form method="post" role="form" id="form_login_reset" name="form_login_reset" action="<?= $urlaction ?>">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>
                        <input type="password" class="form-control" name="senha" id="email" data-name="Senha" placeholder="Senha" autocomplete="off" />
                        <input type="hidden" id="id" name="id" value="<?= $iduser ?>"/>
                        <input type="hidden" id="login" name="login" value="<?= $login ?>"/>
                        <input type="hidden" id="code" name="code" value="<?= $code ?>"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>
                        <input type="password" class="form-control" name="confsenha" id="confiemail" data-name="Confirmar Senha" placeholder="Confirmar Senha" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block btn-login form_submit">
                        <i class="entypo-login"></i>
                        Resetar Senha
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
