<div class="login-container">
    <div class="login-header login-caret">
        <div class="login-content">
            <a href="index.html" class="logo">
                <img src="<?= SITE_URL . "/public_html/static/o,g/" . $config['LOGOTIPO'] ?>" class="img-responsive" style="margin: 0 auto"/>
            </a>
            <p class="description">Informe o e-mail castrado no sistema!</p>
        </div>
    </div>
    <div class="login-progressbar">
        <div></div>
    </div>
    <div class="login-form">
        <div class="login-content">
            <form method="post" role="form" id="form_login_esqueci" name="form_login_esqueci" action="<?= $urlaction ?>">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>
                        <input type="text" class="form-control" name="email" id="email" data-name="E-mail" placeholder="E-mail" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block btn-login form_submit">
                        <i class="entypo-login"></i>
                        Resetar Senha
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>