<div class="row">
    <div class="col-sm-4 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer tb-prod">
            <table id="tb-propostas" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 30px"> </th>
                        <th>Código</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Modelo</th>
                        <th>Valor Venda</th>
                        <th>Solicitante</th>
                        <th>Status Proposta</th>
                        <th>Status Venda</th>
                        <th>Opção Entrega</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listapropostas as $row) { ?>
                        <tr>
                            <td class="sorting_1"><?= $row['VEN_ID'] ?></td>
                            <td class="sorting_1"><?= $row['VEN_TOKEN'] ?></td>
                            <td class="sorting_1"><?= $row['VEN_DATA_CAD'] ?></td>
                            <td class="sorting_1"><?= $row['TP_DESC'] ?></td>
                            <td class="sorting_1"><?= $row['MOD_DESC'] ?></td>
                            <td class="sorting_1"><?= 'R$ ' . number_format($row['PROP_VAL_PROPOSTA'], 2, ',', '.') ?></td>
                            <td class="sorting_1"><?= $row['VEN_NOME_COMPLETO'] ?></td>
                            <td class="sorting_1"><?= intval($row['PROP_STATUS']) == 1 ? 'Concluída' : 'Em Aberto' ?></td>
                            <td class="sorting_1"><?= intval($row['VEN_STATUS']) == 1 ? 'Finalizada' : 'Em Aberto' ?></td>
                            <td class="sorting_1"><?= $row['VEN_OP_ENTREGA'] ?></td>
                            <td class="acoes">
                                <a href="#" data-toggle="modal" data-target="#modal-lg" data-load-url="<?= SITE_URL . '/' . $controller . '/Detalhe/' . $row['VEN_ID'] ?>" class="btn btn-xs btn-warning" data-load-title="Detalhe da Venda: <?= $row['VEN_TOKEN'] ?>" data-toggle="tootip" data-placement="top" title="Detalhe do Pedido">
                                    <i class="entypo-info"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Finalizar/' . $row['VEN_ID'] ?>" class="btn btn-xs btn-green change_status" data-toggle="tooltip" data-placement="top" title="Concluir Venda">
                                    <i class="entypo-thumbs-up"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_venda" data-id="<?= $row['VEN_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
