<div class="detalhe_pedido mh-300">
    <div class="row">
        <div class="col-md-4">
            <h5>Identificaçao: <strong><?= $proposta['VEN_TOKEN'] ?></strong></h5>
            <h5>Total da Venda: <strong><span id="total_pedido"><?= 'R$' . number_format($proposta['PROP_VAL_PROPOSTA'], 2, ',', '.') ?></span></strong></h5>
            <div>
                <h6><strong>Opção de Entrega</strong></h6>
                <div><span><?= $proposta['VEN_OP_ENTREGA'] ?></span></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-sm-12">
                <h6><strong>Solicitante</strong></h6>
                <div class="form-group">
                    <div><span><?= 'NOME: ' . $proposta['VEN_NOME_COMPLETO'] ?></span></div>
                    <div><span><?= 'E-MAIL: ' . $proposta['VEN_EMAIL'] ?></span></div>
                    <div><span><?= 'CPF: ' . $proposta['VEN_DOC'] ?></span></div>
                </div>
            </div>
            <div class="col-sm-12">
                <h6><strong>Local de Entrega</strong></h6>
                <div class="form-group">
                    <div><span><?= intval($proposta['TIPO']) == 2 ? 'LOJA: '.$proposta['INFO'] : '' ?></span></div>
                    <div><span><?= $proposta['VEN_ENDERECO'].', '.intval($proposta['TIPO']) == 1 ? $proposta['VEN_NUMERO'] : '' ?></span></div>
                    <div><span><?= $proposta['VEN_COMPLEMENTO'] ?></span></div>
                    <div><span><?= intval($proposta['TIPO']) == 1 ? $proposta['VEN_BAIRRO'].' '.$proposta['VEM_CEP'] : '' ?></span></div>
                    <div><span><?= intval($proposta['TIPO']) == 1 ? $proposta['INFO'] : '' ?></span></div>
                </div>
            </div>
        </div>
        <?php if(false){?>
        <div class="col-md-8">
            <h6><strong>Observação</strong></h6>
            <div class="form-group">
                <div><span><?= $proposta['PROP_OBSERVACAO']?></span></div>
            </div>
        </div>
        <?php }?>
    </div>
</div>
